/*
    Components: Footer
*/

.c-doormat {
    color: palette(color-neutral,x-dark);

    a {
        &,
        &:visited {
            // color: palette(color-neutral,x-dark);
            text-decoration: underline;
        }
    }
}

.c-doormat__item {
    & + & {
        @include padding-top($alpha-leading);

        @include mq(bp4) {
            padding-top: 0;
        }
    }
}

.c-footer {
    color: palette(color-neutral,x-dark);
    @include padding-top($alpha-leading);

    @include mq(bp3) {
        @include padding-top($alpha-leading * 3);
    }

    a {
        &,
        &:visited {
            color: palette(color-neutral,x-dark);
        }
    }
}
