/*
    Components: Carousel
*/

// Calculation width:
// calc(((#{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2}/12*7) + ((100vw - #{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2})/2)) + (#{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2}/12) - $columns-gutter));
// = calc(((1536px/12*7) + ((100vw - 1536px)/2)) + 104px)
// 1536px = o-container width (bp6) + dubbele gutter links en rechts = #{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2}
// ((100vw - #{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2})/2)) = 100vw min de overschot van de max-width container links en rechts: wat is margin: auto van o-container.
// 104px = #{(map-get($breakpoints,bp6) + $columns-gutter * 2 * 2)/12 - $columns-gutter})

.c-carousel {
    position: relative;
}

    .c-carousel-holder {
        overflow: hidden;

        @include mq(#{map-get($breakpoints,bp6)  + ($columns-gutter * 4) + 20px}) {
            width: calc(((#{map-get($breakpoints,bp6) + $columns-gutter * 2 * 2}/12*7) + ((100vw - #{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2})/2)) + #{(map-get($breakpoints,bp6) + $columns-gutter * 2 * 2)/12});
        }
    }

    .c-carousel__items-holder {
        position: relative;
        z-index: 10;
        overflow: hidden;
        @include margin-lr($columns-gutter * -1);

        // 20px = scrollbar safe zone
        @include mq(#{map-get($breakpoints,bp6)  + ($columns-gutter * 4) + 20px}) {
            width: calc(((#{map-get($breakpoints,bp6) + $columns-gutter * 2 * 2}/12*7) + ((100vw - #{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2})/2)) + #{(map-get($breakpoints,bp6) + $columns-gutter * 2 * 2)/12 - $columns-gutter});            
        }
    }

    .c-carousel__items {
        --n: 4;
        --i: 0;
        --tx: 0px;
        display: flex;
        align-items: baseline;
        width: calc(var(--n) * 100%);
        transform: translate(calc(var(--tx, 0px) + var(--i, 0)/var(--n)*-100%));

        @include mq(#{map-get($breakpoints,bp6)  + ($columns-gutter * 4) + 20px}) {
            width: calc(((#{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2}/12*7) - #{$columns-gutter * 2}px) * var(--n));
        }
    }

    .is-released { transition: transform  calc(var(--f, 1)*.5s) ease-out }

    .c-carousel__item {
        width: calc(100%/var(--n));
        opacity: .5;
        transition: opacity $animation-duration-alpha $animation-easing-alpha;
        @include padding-lr($columns-gutter,$columns-gutter);

        &.is-selected {
            opacity: 1;
        }

        &.is-not-selected {
            .c-media--link {
                cursor: default;
            }
        }

        @include mq(#{map-get($breakpoints,bp6)  + ($columns-gutter * 4) + 20px}) {
            width: calc((#{map-get($breakpoints,bp6)  + $columns-gutter * 2 * 2}/12*7) - #{$columns-gutter * 2}px);
        }
    }

    .c-carousel__arrow {
        position: absolute;
        top: -#{$alpha-leading / 2}px;
        left: -#{$columns-gutter / 1.5}px;
        z-index: 30;
        display: flex;
        align-items: center;
        justify-content: center;
        width: #{$alpha-leading * 2}px;
        height: #{$alpha-leading * 2}px;
        // border-radius: 100%;
        // background-color: #fff;
        color: palette(color-alpha);
        transition: color $animation-duration-alpha $animation-easing-alpha;

        &:hover,
        &:focus {
            color: palette(color-alpha,light);
            outline: none;
        }

        &.is-disabled {
            color: palette(color-neutral,xx-light);
        }

        @include mq(bp3) {
            top: 50%;
            transform: translateY(-50%);
            left: -#{$columns-gutter * 2}px;
        }
    }

    .c-carousel__arrow--right {
        left: auto;
        right: -#{$columns-gutter / 1.5}px;

        @include mq(bp3) {
            right: -#{$alpha-leading * 2}px;
        }
    }

    .c-carousel__arrow-symbol {
        display: block;
    }

// Carousel nav

.c-carousel-nav {
    position: relative;
    z-index: 20;
}

    .c-carousel-nav-list {
        display: flex;
        justify-content: center;
        font-family: $beta-font-family;
        @include ms-1;
        @include margin-lr($columns-gutter / -2,$columns-gutter / -2);

        @include mq(bp3) {
            justify-content: flex-end;
        }
    }

    .c-carousel-nav-list__item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: palette(color-neutral);
        transition: all $animation-duration-alpha $animation-easing-alpha;
        text-align: center;
        @include padding-lr($columns-gutter / 2,$columns-gutter / 2);

        &:hover,
        &.is-selected {
            color: palette(color-alpha);
        }
    }
