/*
    Components: FAQ
    ---
    FAQ styles
*/

* + .c-faq {
    @include margin-tb($alpha-leading * 2,0);
}

.c-faq__button {
    font-weight: 700;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration: underline;
    }
}

.c-faq__desc {
    display: none;
    @include padding-top($alpha-leading);
}

.c-faq__desc.is-open {
    display: block;
}

.c-faq__desc + .c-faq__title {
    border-top: 1px solid palette(color-neutral,xxx-light);
    @include padding-tb($alpha-leading,0);
    @include margin-tb($alpha-leading,0);
}

.c-faq__caret {
    stroke: currentColor;
    width: 21px;
    transition: transform $animation-duration-alpha $animation-easing-alpha;
}

.is-open .c-faq__caret {
    transform: rotate(90deg);
}