/*
    Component: typography
    ---
    Special typography classes
*/

.c-type-lead {
    // color: palette(color-neutral);
    font-weight: $delta-font-weight;
    @include ms2;
}

.c-type-meta {
    text-transform: uppercase;
    font-family: $beta-font-family;
    font-weight: $alpha-font-weight;
}

.c-type-intro {
    font-weight: $delta-font-weight;
    @include ms2;

    a {
        position: relative;
        display: inline-block;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: rgba(palette(color-neutral,xxxx-dark),.5);
            transition: background $animation-duration-alpha $animation-easing-alpha;
        }

        &,
        &:visited {
            color: palette(color-neutral,xxxx-dark);

            .c-row--intro &,
            .c-row--alpha & {
                color: palette(color-neutral,xxxxx-light);

                &:after {
                    background-color: rgba(palette(color-neutral,xxxxx-light),.5);
                }
            }
        }

        &:hover {
            text-decoration: none;

            &:after {
                background-color: rgba(palette(color-neutral,xxxx-dark),1);

                .c-row--intro &,
                .c-row--alpha & {
                    background-color: rgba(palette(color-neutral,xxxxx-light),1);
                }
            }
        }
    }

    @include mq(bp3) {
        @include ms4;
    }

    @include mq(bp4) {
        @include ms8;
    }
}

.c-type-svg {
    position: relative;
    display: block;
}

    .c-type-svg__svg {
        display: block;
        width: 100%;

        .c-type-svg--projects & {
            max-width: 259px;

            @include mq(bp3) {
                max-width: 519px;
            }

            @include mq(bp4) {
                max-width: 1039px;
            }
        }

        .c-type-svg--programm & {
            max-width: 321px;

            @include mq(bp3) {
                max-width: 643px;
            }

            @include mq(bp4) {
                max-width: 1286px;
            }

            // @include mq(bp6) {
            //     max-width: 1286px;
            // }
        }

        .c-type-svg--news & {
            max-width: 198px;

            @include mq(bp3) {
                max-width: 396px;
            }

            @include mq(bp4) {
                max-width: 792px;
            }
        }
    }

    .c-type-svg__path {
        fill: palette(color-neutral,xxx-light);
    }

.c-type-title-md {
    @include mq(bp3) {
        // font-weight: $jota-font-weight;
        @include ms6;
    }

    @include mq(bp5) {
        @include ms8;
    }
}

.c-type-title-lg {
    @include mq(bp3) {
        // font-weight: $jota-font-weight;
        @include ms10;
    }

    @include mq(bp5) {
        @include ms12;
    }
}
