/*
    Components: c-curriculum
    ---
*/

$choice-column-bgcolor: palette(color-neutral, xxxx-light);
$choice-column-bgcolor: transparent;
$choice-column-border-color: palette(color-neutral, xx-light);
// $choice-column-border-color: rgba(palette(color-neutral,xxxx-dark),.075);
$choice-column-border-width: 1px;
$choice-column-border-style: solid;

.c-curriculum-title {
	position: relative;
	@include margin-bottom($alpha-leading * -0.75);

	@include mq(bp3) {
		@include margin-bottom($alpha-leading * -2);
	}

	@include mq(bp4) {
		@include margin-bottom($alpha-leading * -3);
	}

	@include mq(bp5) {
		@include margin-bottom($alpha-leading * -3.5);
	}
}

.c-curriculum-overview {
	position: relative;
}

.c-curriculum-choice {
	position: sticky;
	position: -webkit-sticky; // Safari needs this prefix. Otherwise z-index doesn't work ;-) (because there is no positioning).
	top: 24px;
	z-index: 20;

	@include mq(bp5) {
		position: relative;
		@include margin-lr($columns-gutter * -0.5);

		.has-scrolled & {
			position: relative;
		}
	}
}

.c-curriculum-choice__box {
	position: relative;
	height: #{$alpha-leading * 2}px;

	@include mq(bp5) {
		left: 50%;
		width: 33.3333%;
		background-color: $choice-column-bgcolor;
		@include padding-bottom($alpha-leading / 2);
	}
}

.c-curriculum-choice__body {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 0 0 0 1px rgba(palette(color-neutral, xxxx-dark), 0.05),
		0 2px 4px rgba(palette(color-neutral, xxxx-dark), 0.1);
	background-color: palette(color-neutral, xxxxx-light);

	@include mq(bp5) {
		right: 1px;
		left: 1px;
	}
}

.c-curriculum-choice__button {
	margin-bottom: 0;
	width: 100%;
	text-align: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: $delta-font-weight;
	outline: none;
	color: palette(color-alpha);
	@include ms-1;
	@include padding-lr($columns-gutter * 0.75, $columns-gutter * 0.5);
	@include padding-tb($alpha-leading * 0.45, $alpha-leading * 0.55);
}

.c-curriculum-choice__icon-down {
	position: relative;
	top: $alpha-leading * 0.075px;
}

.c-curriculum-choices {
	position: relative;
	border-top: 1px solid palette(color-neutral, xxx-light);
	margin-bottom: 0;
	@include padding-tb($alpha-leading / 4, $alpha-leading / 4);
}

.c-curriculum-choices__filter {
	display: flex;
	align-items: center;
	@include ms-1;
	@include padding-lr($columns-gutter * 0.75, $columns-gutter * 0.75);
	@include padding-tb($alpha-leading / 4, $alpha-leading / 4);

	&,
	&:visited {
		color: palette(color-neutral, dark);
	}

	&:hover {
		color: palette(color-neutral, xx-dark);
		text-decoration: none;
	}

	.is-selected & {
		// color: palette(color-neutral,xx-dark);
		color: palette(color-alpha);
		font-weight: $delta-font-weight;
	}
}

.c-curriculum-choices__symbol {
	fill: palette(color-neutral, xx-light);
	transition: fill $animation-duration-alpha $animation-easing-alpha;
	@include margin-right($columns-gutter / 4);

	.c-curriculum-choices__filter:hover & {
		fill: palette(color-neutral);
	}

	.is-selected &,
	.is-selected .c-curriculum-choices__filter:hover & {
		fill: palette(color-alpha);
	}
}

.c-curriculum {
	display: flex;
	flex-wrap: wrap;
	z-index: 10;
	@include padding-top($alpha-leading * 0.5);
	@include margin-lr($columns-gutter * -0.5);
	@include margin-bottom($alpha-leading / 2);

	@include mq(bp5) {
		@include padding-top($alpha-leading + 1);
	}
}

.c-curriculum__year {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	@include mq(bp4) {
		width: 50%;
	}

	@include mq(bp5) {
		width: 33.3333%;
	}
}

.c-curriculum__semester {
	position: relative;
	width: 100%;
	// display: flex;
	// flex-wrap: wrap;
	// flex-direction: column;
	@include padding-bottom($alpha-leading / 2);
	@include padding-lr($columns-gutter / 2, $columns-gutter / 2);

	@include mq(bp2) {
		width: 50%;
	}

	@include mq(bp5) {
		@include padding-top($alpha-leading * 0.5);
	}
}

// background + border around 4th and 5th semester

.c-curriculum__semester--choice {
	@include mq(bp5) {
		background-color: $choice-column-bgcolor;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border: $choice-column-border-width $choice-column-border-style
				$choice-column-border-color;
		}
	}
}

.c-curriculum__semester--choice-4 {
	&:before {
		border-width: 0 0 $choice-column-border-width
			$choice-column-border-width;
	}
}

.c-curriculum__semester--choice-5 {
	&:before {
		border-width: 0 $choice-column-border-width $choice-column-border-width
			0;
	}
}

.c-curriculum__semester-title {
	color: palette(color-neutral);
	// color: palette(color-alpha);
	font-weight: $alpha-font-weight;
	text-align: center;
	margin: 0 auto;
	@include margin-bottom($alpha-leading / 2);
	@include ms-2;
}

// legend

.c-curriculum-legend {
	display: flex;
	flex-wrap: wrap;
	font-family: $beta-font-family;
	color: palette(color-neutral, base);
	@include ms-2;
	@include margin-lr($columns-gutter * -0.5);
}

.c-curriculum-legend__item {
	display: flex;
	align-items: center;
	@include margin-lr($columns-gutter * 0.5);
}

.c-curriculum-legend__swatch {
	display: block;
	width: #{$alpha-leading * 0.5}px;
	height: #{$alpha-leading * 0.5}px;
	border-radius: 100%;
	@include margin-right($columns-gutter * 0.25);
}

.c-curriculum__call-to-action {
	width: 100%;
	height: 100%;
	padding-top: #{$alpha-leading * 0.5}px;

	text-align: center;

	@include mq(bp5) {
		width: calc(200% + 24px);
	}
}
