/*
    Components: Header
*/

.c-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .c-nav-mobile & {
        @include margin-bottom($alpha-leading * 1.5);
    }

    @include mq(bp4) {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .c-button--header-cta {
        justify-self: end;
    }
}
