/*
    Components: Social list
*/

.c-social-list {
    display: flex;
}

    .c-social-list__item {
        & + & {
            @include margin-left($columns-gutter);
        }
    }

    .c-social-list__link {
        display: block;
        text-decoration: none;

        &,
        &:visited {
            color: palette(color-neutral,x-dark);
        }

        &:hover,
        &:focus {
            color: palette(color-alpha);
        }
    }

    .c-social-list__link--lg {
        padding: $alpha-leading * .25px;
        border-radius: 100%;
        background-color: palette(color-neutral,xxx-light);
    }
