/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

$logo-ratio:     .680555555555556;
$logo-height:    $alpha-leading * 2.5;
$logo-width:     $logo-height * $logo-ratio;

$logo-box-ratio:     .76;
$logo-box-height:    $alpha-leading * 3;
$logo-box-width:     $logo-box-height * $logo-box-ratio;

.c-logo {
    display: block;
    z-index: 20;
    @include ms0;

    .c-header & {
        margin-bottom: 0;
    }

    .c-row--404 & {
        position: absolute;
        top: #{$columns-gutter}px;
        left: #{$columns-gutter}px;
    }
}

    .c-logo__link,
    .c-logo__mark {
        display: block;
        height: #{$logo-height}px;
        width: #{$logo-width}px;

        .c-logo--boxed & {
            height: #{$logo-box-height}px;
            width: #{$logo-box-width}px;
        }
    }

    .c-logo__path {
        fill: white;
    }
