/*
    Component: typography
    ---
    Special typography classes
*/

.c-type-lead {
    font-weight: $delta-font-weight;
    @include ms2;
}

.c-type-meta {
    text-transform: uppercase;
    font-family: $beta-font-family;
    font-weight: $alpha-font-weight;
}

.c-type-intro {
    font-weight: $delta-font-weight;
    font-family: $gamma-font-family;
    @include ms2;

    a {
        position: relative;
        display: inline-block;
        text-decoration: underline;

        &,
        &:visited {
            color: palette(color-neutral,xxxx-dark);

            .c-row--intro &,
            .c-row--alpha & {
                color: palette(color-neutral,xxxxx-light);
            }
        }

        &:hover {
            opacity: .5;
            // color: palette(color-alpha,base);
        }
    }

    @include mq(bp3) {
        @include ms4;
    }

    @include mq(bp4) {
        @include ms9;
    }
}

.c-type-intro-small {
    font-weight: $delta-font-weight;
    font-family: $gamma-font-family;
    font-weight: $delta-font-weight;
}

.c-type-svg {
    position: relative;
    display: block;
}

    .c-type-svg__svg {
        display: block;
        width: 100%;

        .c-type-svg--projects & {
            max-width: 259px;

            @include mq(bp3) {
                max-width: 519px;
            }

            @include mq(bp4) {
                max-width: 1039px;
            }
        }

        .c-type-svg--programm & {
            max-width: 321px;

            @include mq(bp3) {
                max-width: 643px;
            }

            @include mq(bp4) {
                max-width: 1286px;
            }
        }

        .c-type-svg--news & {
            max-width: 198px;

            @include mq(bp3) {
                max-width: 396px;
            }

            @include mq(bp4) {
                max-width: 792px;
            }
        }
    }

    .c-type-svg__path {
        fill: palette(color-neutral,xxx-light);
    }



.c-type-title-sm {
    font-family: $gamma-font-family;

    @include mq(bp3) {
        @include ms6;
    }
}
    
.c-type-title-md {
    font-family: $gamma-font-family;

    @include mq(bp3) {
        @include ms6;
    }

    @include mq(bp5) {
        @include ms8;
    }
}

.c-type-title-lg {
    font-family: $gamma-font-family;

    @include mq(bp3) {
        @include ms10;
    }

    @include mq(bp5) {
        @include ms12;
    }
}
