/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

$logo-ratio:     .680555555555556;
$logo-height:    $alpha-leading * 3.5;

$logo-box-ratio:     .76;
$logo-box-height:    $alpha-leading * 3;

.c-logo {
    display: block;
    z-index: 20;
    @include ms0;

    .c-header & {
        margin-bottom: 0;
    }

    .c-row--404 & {
        position: absolute;
        top: #{$columns-gutter}px;
        left: #{$columns-gutter}px;
    }
}

    .c-logo__link,
    .c-logo__mark {
        display: block;
        height: #{$logo-height}px;

        .c-logo--boxed & {
            height: #{$logo-box-height}px;
        }
    }

    .c-logo__mark {
        .c-logo--boxed & {
            fill: palette(color-alpha);
        }
    }

    .c-logo__path {
        fill: white;
    }

/* howest badge */

.c-howest-badge {
	display: flex;
	align-items: center;

	margin-bottom: 0;
    color: white;
    @include ms-1;

    .c-top & {
        margin-top: #{$alpha-leading * .75}px;

        @include mq(bp3) {
            margin-top: 0;            
        }
    }
}

.c-howest-badge__text {
    display: block;
    white-space: nowrap;
}

.c-howest-badge__logo {
	height: #{$alpha-leading * 1.5}px;
	margin-left: #{$alpha-leading * .5}px
}

.c-howest-badge__logo-path {
	fill: white;
}
