/*
    Components: c-module
    ---
*/

.c-module {
	position: relative;
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	border-radius: $radius-md;
	border-bottom: $alpha-leading * 0.25px solid transparent;
	background: palette(color-neutral, xxxxx-light);
	box-shadow: 0 0 0 1px rgba(palette(color-neutral, xxxx-dark), 0.05),
		0 2px 4px rgba(palette(color-neutral, xxxx-dark), 0.1);

	@include padding-lr($columns-gutter / 2, $columns-gutter / 2);
	@include padding-tb($alpha-leading / 2, $alpha-leading / 2);

	& + & {
		@include margin-top($alpha-leading / 2);
	}

	&--code {
		border-color: palette(color-code);
	}

	&--connect {
		border-color: palette(color-connect);
	}

	&--design {
		border-color: palette(color-design);
	}

	&--analysis {
		border-color: palette(color-analysis);
	}

	&--project {
		border-color: palette(color-project);
	}

	// &--single {
	// 	min-height: calc(100% - 33px);
	// }
}

.c-module--link {
	&:hover {
		text-decoration: none;
		// transform: translate(-2px, -2px);

		.c-module__title,
		.c-module__tags {
			color: white;
		}

		&.c-module--code {
			background-color: palette(color-code);
		}
		&.c-module--connect {
			background-color: palette(color-connect);
		}
		&.c-module--design {
			background-color: palette(color-design);
		}
		&.c-module--project {
			background-color: palette(color-project);
		}
		&.c-module--analysis {
			background-color: palette(color-analysis);
		}
	}
}

.c-module__title,
.c-module__tags,
.module__points {
	transition: all $animation-duration-alpha $animation-easing-alpha;
}

.c-module__title {
	width: 100%;
	margin-bottom: 0;
	// color: $body-color;
	color: palette(color-neutral, xxx-dark);
	@include ms-1;
	// @include margin-bottom($alpha-leading * .5);
}

.c-module__points {
	width: 100%;
	margin-bottom: 0;
	color: $body-color;
	color: palette;
	// font-family: $beta-font-family;
	@include ms-2;
}

.c-module__tags {
	margin-bottom: 0;
	// margin-top: auto;
	color: palette(color-neutral);
	font-family: $beta-font-family;
	text-transform: uppercase;
	@include padding-top($alpha-leading * 0.5);
	@include ms-2;
}
