/*
    Components: Quotes
*/

.c-quote {
    position: relative;
}

.c-quote--lg {
    @include ms4;

    @include mq(bp3) {
        @include ms7;
    }
}

    .c-quote__author {
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: $beta-font-family;
        font-style: normal;
        font-weight: normal;
        color: palette(color-neutral);
        @include ms-1;
        @include padding-top(map-get($increments, delta));
    }
