/*
    Components: Sharing
    ---
    A small box that allows the sharing of the current page URL to the top social media.
*/

.c-sharing {
	display: flex;
	align-items: center;
}

.c-sharing__title {
	@include margin-right($columns-gutter);
}
