/*
    Elements: fonts
    ---
    @font-face declarations
*/

@font-face {
	font-family: 'Inter Web';
	font-display: swap;
	font-weight: 400;
	src: url('../fonts/Inter-Regular.woff2') format('woff2'),
		 url('../fonts/Inter-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Inter Web';
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/Inter-Regularitalic.woff2') format('woff2'),
		 url('../fonts/Inter-Regularitalic.woff') format('woff');
}

@font-face {
	font-family: 'Inter Web';
	font-display: swap;
	font-weight: 700;
	src: url('../fonts/Inter-Bold.woff2') format('woff2'),
		 url('../fonts/Inter-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Inter Web';
	font-display: swap;
	font-weight: 700;
	font-style: italic;
	src: url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
		 url('../fonts/Inter-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'VAG Rounded Web';
	font-display: swap;
	font-weight: 700;
	src: url('../fonts/vagroundedstd-bold-webfont.woff') format('woff');
}
