/*
    Scope: Content
    ---
    Targetting elements with .s-content
*/

.s-content {
    h1,
    h2,
    h3 {
        color: palette(color-neutral,xxxx-dark);
    }

    * + h2 {
        @include padding-top($alpha-leading);
    }

    a {
        text-decoration: underline;
    }

    blockquote {
        color: palette(color-alpha,light);
        @include padding-tb($alpha-leading,$alpha-leading);
    }

    // p {
    //     // In case images are added with the Wordpress WYSIWIG editor
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: flex-end;
    //     flex-wrap: wrap;

    //     & > img {
    //         width: 100%;
    //         margin-bottom: #{ $media-object-gutter / 2}px;

    //         @include mq(bp2) {
    //             width: auto;
    //             margin: 0 auto #{ $media-object-gutter / 2}px;
    //         }
    //     }
    // }
}

.s-content-white {
    color: white;

    a {
        text-decoration: underline;
        &,
        &:visited {
            color: white;
        }
    }
}
