/*
    Shame
    ---
    Hacks and quick fixes
*/

html {
	position: relative;

	@if $show-baseline {
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 100;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			pointer-events: none;
			background-image: linear-gradient(#ccc 0, transparent 1px),
				linear-gradient(#ccc 0, transparent 1px),
				linear-gradient(#ccc 0, transparent 1px),
				linear-gradient(#ccc 0, transparent 1px);
			background-size: 100% #{$alpha-line-height}px,
				100% #{$alpha-line-height}px, 100% #{$alpha-line-height}px,
				100% #{$alpha-line-height}px;
			background-position: 0 #{$alpha-line-height * 0.25}px,
				0 #{$alpha-line-height/2}px, 0 #{$alpha-line-height * 0.75}px,
				0 #{$alpha-line-height}px;
		}
	}
}

h1,
h2,
h3,
p,
li {
	@if $show-baseline {
		background-color: rgba(red, 0.1);
	}
}

.u-width-auto {
	width: auto;
}

.u-max-width-sm {
	max-width: 30em;
}

.u-max-width-md {
	max-width: 36em;
}

.u-max-width-optimal {
	max-width: 47.5em;
}

.u-max-width-lg {
	max-width: 56em;
}

.u-max-width-xl {
	max-width: 68em;
}

.u-opacity-alpha {
	opacity: 0.6;
}

.u-opacity-beta {
	opacity: 0.7;
}

.u-opacity-gamma {
	opacity: 0.8;
}

.u-opacity-delta {
	opacity: 0.9;
}

.u-text-normal {
    font-weight: normal;
}

.c-main-section {
	@include mq(bp2) {
		& + & {
			@include padding-top($alpha-leading);
		}
	}
}

.c-main-section-md {
	// @include mq(bp2) {
	& + & {
		@include padding-top($alpha-leading);
	}
	// }

	@include mq(bp3) {
		& + & {
			@include padding-top($alpha-leading * 2);
		}
	}
}

.c-main-section-lg {
	// @include mq(bp2) {
	& + & {
		@include padding-top($alpha-leading);
	}
	// }

	@include mq(bp5) {
		& + & {
			@include padding-top($alpha-leading * 3);
		}
	}
}

.c-main-section-xl {
	// @include mq(bp2) {
	& + & {
		@include padding-top($alpha-leading);
	}
	// }

	@include mq(bp4) {
		& + & {
			@include padding-top($alpha-leading * 3);
		}
	}

	@include mq(bp5) {
		& + & {
			@include padding-top($alpha-leading * 4);
		}
	}
}

.c-projects__header,
.c-projects__body {
	position: relative;
}

.c-projects__body-sm {
	@include margin-top($alpha-leading * -1);

	@include mq(bp3) {
		@include margin-top($alpha-leading * -2);
	}

	@include mq(bp4) {
		margin-top: 0;
	}
}

.c-projects__carousel {
	position: relative;

	flex-direction: row;

	overflow: hidden;
}
.c-projects__carousel--offset-left {
	transform: translateX(-100%);
}

.c-projects__carousel--offset-right {
	transform: translateX(-200%);
}

.c-projects__body-lg {
	@include mq(bp4) {
		@include margin-top($alpha-leading * -7);
	}
}

.c-button {
	&.next,
	&.prev {
		position: absolute;
		top: 40%;

		display: block;
		width: 35px;
		height: 35px;

		text-align: center;
		line-height: 0;
		color: palette(color-alpha);

		background-color: palette(color-neutral, xxxxx-light);

		z-index: 10;
	}

	&.next {
		right: 0;
	}

	&.prev {
		left: 0;
	}
}

.c-news__body {
	@include margin-top($alpha-leading * -1.5);

	@include mq(bp3) {
		@include margin-top($alpha-leading * -2.5);
	}

	@include mq(bp4) {
		@include margin-top($alpha-leading * -4);
	}
}

.c-map {
	width: 100%;
	height: 0;
	background-color: palette(color-neutral, xxx-light);
	height: 75vh;
}

.c-map--contained {
	height: 40vh;
}

::-webkit-input-placeholder {
	font-family: $placeholder-font-family;
	font-style: $placeholder-font-style;
	font-weight: $alpha-font-weight;
	color: $placeholder-color;
}

::-moz-placeholder {
	font-family: $placeholder-font-family;
	font-style: $placeholder-font-style;
	font-weight: $alpha-font-weight;
	color: $placeholder-color;
}

:-ms-input-placeholder {
	font-family: $placeholder-font-family;
	font-style: $placeholder-font-style;
	font-weight: $alpha-font-weight;
	color: $placeholder-color;
}

.c-partner {
	filter: grayscale(1);
	transition: filter 400ms ease-out;

	&:hover {
		filter: grayscale(0);
	}
}

.c-curriculum__semester-holder--dynamic {
	position: relative;
}

.c-curriculum__semester--dynamic {
	// position: absolute;
	opacity: 0;
	// visibility: hidden;
	display: none;
	flex-direction: column;
	transition: opacity $animation-duration-gamma $animation-easing-alpha,
		visibility $animation-duration-gamma $animation-easing-alpha;
}

.c-gallery {
    display: flex;
    overflow: hidden;
}

.c-gallery__item {
    width: 100%;
}

.c-columns {
	-webkit-column-width: 24em;
	-moz-column-width: 24em;
	column-width: 24em;
	// -webkit-column-count: 2; /* Ch, Saf, And, BB  */
    //  -moz-column-count: 2; /* Fx */
    //       column-count: 2; /* IE 10, Op 11.1+ */
    -webkit-column-gap: $columns-gutter * 1px;
    -moz-column-gap: $columns-gutter * 1px;
    column-gap: $columns-gutter * 1px;
	box-decoration-break: clone;
}

.is-fixed {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.u-rounded-full {
	border-radius: 50%;
	overflow: hidden;
}

// infodag stuff

.c-arrow-celine {
	// color: palette(color-alpha);
	z-index: 100;	
	text-align: center;

	@include mq(bp5) {
		position: absolute;
		bottom: 0;
		transform: translateX(-100%) translateY(50%) skewY(-3deg);
		text-align: right;
		margin-bottom: 0;
	}
}

	.c-arrow-celine__arrow {
		// display: none;
		position: absolute;
		width: 55px;
		right: -65px;	
		transform: translateY(-75%);
		pointer-events: none;	
		stroke: currentColor;

		@include mq(bp5, max) {
			display: none;
		}
	}