/*
    Utilities: States
    ---
    Component states
*/

.is-hidden {
	display: none !important;
}

.c-curriculum__semester--dynamic.is-selected {
	// visibility: visible;
	display: flex;
	opacity: 1;
}
