{{ define "main" }}
    <section class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
                <div class="o-grid__item u-8-of-12-bp4 u-push-2-of-12-bp4 u-2-of-4-bp6 u-push-1-of-4-bp6">
                    <div class="u-max-width-lg u-align-horizontal">
                        <div class="c-main-section">
                            <p class="c-type-meta u-ms-1 u-color-neutral-base u-mb-beta">
                                {{ .Params.Year }} - {{ .Params.Project }}
                            </p>
                            <h1 class="u-ms10-bp3">
                                {{ .Title }}
                            </h1>
                        </div>
                        <div class="c-main-section">
                            <p>
                                <img class="c-media__image lozad" data-src="/img/jpg/{{ .Params.Image }}" alt="">
                            </p>
                        </div>
                        <div class="c-main-section">
                            <div class="s-content u-max-width-optimal">
                                <p class="u-ms2">
                                    {{ .Description }}
                                </p>
                            </div>
                            <h2 class="u-ms1 u-mb-alpha u-color-alpha-light">
                                Studenten
                            </h2>
                            <p class="u-color-neutral-base">
                                {{ delimit .Params.students ", " " en " }}
                            </p>
                            <ul class="o-list u-color-neutral-base">
                                {{ range .Params.students }}
                                    <li>
                                        {{ . }}
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                        <div class="c-main-section">
                            {{ .Content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
