<section class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxxx-light">
    <div class="o-container">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5 u-3-of-4-bp6 u-push-1-of-4-bp6">
                <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
                    <div class="o-grid__item u-width-auto">
                        <h2 class="u-mb-beta">{{ .title }}</h2>
                        <p class="c-type-meta u-ms-1 u-color-neutral-base">{{ .paragraph }}</p>
                    </div>
                    <div class="o-grid__item u-width-auto">
                        <p>
                            <a href="https://www.howest.be/nl/studeren/inschrijven-en-info" class="c-button c-button--alpha c-button--lg c-button--transform">Schrijf je nu in</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
