<footer class="c-row c-row--lg c-row--footer">
	<div class="o-container">
		<div class="c-doormat">
			<div class="o-grid o-grid--gutter">
				<div class="o-grid__item u-1-of-4-bp4 c-doormat__item">
					<img class="c-doormat__logo" src="/img/svg/logo-portrait.svg" alt="">
				</div>
				<div class="o-grid__item u-1-of-4-bp4 c-doormat__item">
					<h3 class="u-ms0 u-color-neutral-xxxx-dark">Contact</h3>
					<p class="u-ms0">
						Howest Kortrijk <br>
						Graaf Karel de Goedelaan&nbsp;5<br>
						8500 Kortrijk
					</p>
					<p class="u-ms0">
						<a href="tel:+32 56 24 12 44">+32 56 24 12 44</a> <br>
						<a href="mailto:mct@howest.be">mct@howest.be</a>
					</p>
				</div>
				<div class="o-grid__item u-1-of-4-bp4 c-doormat__item">
					<h3 class="u-ms0 u-color-neutral-xxxx-dark">Join the community</h3>
					<p class="u-ms0">
						We posten leuke projecten, evenementen en opportuniteiten...
					</p>
					{{ partial "components/social-icons" }}
				</div>
			</div>
		</div>
		<div class="c-footer">
			<div class="o-grid o-grid--gutter">
				<div class="o-grid__item u-3-of-4-bp4 u-push-1-of-4-bp4">
					<p class="c-type-meta u-color-neutral-base u-ms-1">
						Made by MCT - {{ now.Year }} - <a href="https://www.howest.be/nl/privacy-and-copyrights" target="_blank">disclaimer</a>
						- <a href="https://www.howest.be/nl/opleidingen/bachelor/new-media-and-communication-technology" target="_blank">A
							Howest bachelor</a>
					</p>
				</div>
			</div>
		</div>
</footer>
