<footer class="c-row c-row--lg c-row--footer">
	<div class="o-container">
		<div class="c-doormat">
			<div class="o-grid o-grid--gutter">
				<div class="o-grid__item u-1-of-4-bp4 c-doormat__item">
					<p class="c-logo c-logo--boxed">
						<svg class="c-logo__mark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 452.73 634.49">
							<title>{{ .Site.Title }}</title>
							<polygon points="0 0 452.73 0 452.73 634.49 0 634.49 0 0 0 0" />
							<polygon class="c-logo__path" points="73.01 101.61 226.56 226.56 379.86 101.61 379.86 431.16 73.01 431.16 73.01 101.61 73.01 101.61" />
							<path class="c-logo__path" d="M98.71,475.38l27.55,67.21h1.17L155,475.38h26.08v100H160.55v-65.1h-.84l-25.88,64.62h-14L94,510.06h-.83v65.35H72.63v-100Z" />
							<path class="c-logo__path" d="M265.31,510.4c-1.61-11-10-17.68-21.54-17.68-15.48,0-25.64,11.87-25.64,32.68,0,21.39,10.31,32.67,25.5,32.67,11.28,0,19.68-6.15,21.68-16.85l21.4.1c-2.3,18.42-17.78,35.46-43.42,35.46-26.77,0-46.6-18.75-46.6-51.38S216.86,474,243.29,474c23.15,0,40.63,13.28,43.42,36.38Z" />
							<path class="c-logo__path" d="M298.09,475.38h82.15v17.44H349.62v82.59H328.71V492.82H298.09Z" />
						</svg>
					</p>
				</div>
				<div class="o-grid__item u-1-of-4-bp4 c-doormat__item">
					<h3 class="u-ms0 u-color-neutral-xxxx-dark">Contact</h3>
					<p class="u-ms0">
						Howest Kortrijk <br>
						Graaf Karel de Goedelaan 5 <br>
						8500 Kortrijk
					</p>
					<p class="u-ms0">
						<a href="tel:+32 56 24 12 44">+32 56 24 12 44</a> <br>
						<a href="mailto:nmct@howest.be">nmct@howest.be</a>
					</p>
				</div>
				<div class="o-grid__item u-1-of-4-bp4 c-doormat__item">
					<h3 class="u-ms0 u-color-neutral-xxxx-dark">Join the community</h3>
					<p class="u-ms0">
						We posten leuke projecten, evenementen en opportuniteiten...
					</p>
					{{ partial "components/social-icons" }}
				</div>
			</div>
		</div>
		<div class="c-footer">
			<div class="o-grid o-grid--gutter">
				<div class="o-grid__item u-3-of-4-bp4 u-push-1-of-4-bp4">
					<p class="c-type-meta u-color-neutral-base u-ms-1">
						Made by MCT - {{ now.Year }} - <a href="https://www.howest.be/nl/privacy-and-copyrights" target="_blank">disclaimer</a>
						- <a href="https://www.howest.be/nl/opleidingen/bachelor/new-media-and-communication-technology" target="_blank">A
							howest bachelor</a>
					</p>
				</div>
			</div>
		</div>
</footer>
