<nav class="c-nav-main js-nav">
    <ul class="o-list c-nav-main__list">
        <!-- Manually define homepage link -->
        <li class="c-nav-main__item is-selected">
            <a href="/" class="c-nav-main__link">Home</a>
        </li>
        <li class="c-nav-main__item">
            <a href="/programma" class="c-nav-main__link">programma</a>
        </li>
        <!-- Define your site navigation -->
        {{ range .Site.Menus.main }}
        <li class="c-nav-main__item is-selected">
            <a href="{{ .URL }}" class="c-nav-main__link">{{ .Name }}</a>
        </li>
        {{ end }}
    </ul>
</nav>
