<aside class="c-sharing js-sharing">
	<ul class="o-list c-social-list u-ms0">
	    <li class="c-social-list__item">
			<a href="#!" class="c-social-list__link c-social-list__link--lg js-share-facebook">
		        {{ partial "atoms/symbol" (dict "value" "social-facebook" "class" "c-social-list__symbol") }}
		    </a>
		</li>
	    <li class="c-social-list__item js-share-twitter">
			<a href="#!" class="c-social-list__link c-social-list__link--lg js-share-twitter">
		        {{ partial "atoms/symbol" (dict "value" "social-twitter" "class" "c-social-list__symbol") }}
		    </a>
		</li>
	    <li class="c-social-list__item js-share-linkedin">
			<a href="#!" class="c-social-list__link c-social-list__link--lg">
		        {{ partial "atoms/symbol" (dict "value" "social-linkedin" "class" "c-social-list__symbol") }}
		    </a>
		</li>
	</ul>
</aside>
