<ul class="o-list c-social-list u-ms0">
    <li class="c-social-list__item"><a href="#!" class="c-social-list__link">
        {{ partial "atoms/symbol" (dict "value" "social-facebook" "class" "c-social-list__symbol") }}
    </a></li>
    <li class="c-social-list__item"><a href="#!" class="c-social-list__link">
        {{ partial "atoms/symbol" (dict "value" "social-twitter" "class" "c-social-list__symbol") }}
    </a></li>
    <li class="c-social-list__item"><a href="#!" class="c-social-list__link">
        {{ partial "atoms/symbol" (dict "value" "social-instagram" "class" "c-social-list__symbol") }}
    </a></li>
    <li class="c-social-list__item"><a href="#!" class="c-social-list__link">
        {{ partial "atoms/symbol" (dict "value" "social-linkedin" "class" "c-social-list__symbol") }}
    </a></li>
</ul>
