{{ define "main" }}
<main>
	<!-- section -->
	<div class="c-row c-row--lg c-row--404">
		<div class="u-max-width-md u-align-horizontal">
			<div class="s-content-white">
				<h1 class="c-type-meta u-ms-1 u-mb-alpha u-opacity-gamma">
					Error code: 404
				</h1>
				<p class="c-type-intro u-ms6 u-ms10-bp3 u-ms12-bp4">
					Oops, something went wrong
				</p>
				<p class="u-ms0">
					De pagina die je probeert te bezoeken bestaat niet. Sorry, soms gebeuren er van die dingen in het leven. Het beste
					is teruggaan naar onze <a href="{{ "/" | relURL }}">homepage</a>.
				</p>
			</div>
		</div>
	</div>
	<!-- /section -->
</main>
{{ end }}