{{ define "main" }}
<main>
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
                                MCT programma
                            </h1>
                            <p class="c-type-intro">
                                Na een stevige IT basis kies je een van onze uitstroomprofielen: <a href="#profile-smart-technology">Smart Technology & AI</a>, <a href="#profile-web-app">Web App Developer</a>, <a href="#profile-ai-engineer">AI Engineer</a> of <a href="#profile-smart-technology">Infrastructure Engineer</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <h2 class="c-type-svg c-type-svg--programm c-curriculum-title">
                <img class="c-type-svg__svg" src="/img/svg/word-programm.svg" alt="Programma">
            </h2>
            <div class="c-curriculum-overview">
                <div class="c-curriculum-choice js-curriculum-choice">
                    <div class="c-curriculum-choice__box">
                        <div class="c-curriculum-choice__body">
                            <button class="c-curriculum-choice__button js-show-hide" data-target-selector=".js-curriculum-choice-filter">
                                Smart Technology Creator {{ partial "atoms/symbol" (dict "value" "keyboard-arrow-down" "class" "c-curriculum-choice__icon-down") }}
                            </button>
                            <ul class="o-list c-curriculum-choices is-hidden js-curriculum-choice-filter">
                                <li class="c-curriculum-choices__item is-selected">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }} Smart Technology Creator
                                    </a>
                                </li>
                                <li class="c-curriculum-choices__item">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }} Web &amp; App Developer
                                    </a>
                                </li>
                                <li class="c-curriculum-choices__item">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }} Infrastructure Engineer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c-curriculum">
                    <section class="c-curriculum__year">
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 1
                            </h3>
                            <a href="module-detail" class="c-module c-module--code c-module--link">
                                <h4 class="c-module__title">Basic Programming</h4>
                                <p class="c-module__tags">#principles #python</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--connect c-module--link">
                                <h4 class="c-module__title">Computer Networks</h4>
                                <p class="c-module__tags">#dhcp #router #netwerk</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Data Science</h4>
                                <p class="c-module__tags">#principes #data</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--create c-module--link">
                                <h4 class="c-module__title">User Experience Design</h4>
                                <p class="c-module__tags">#ux #user #wireframe</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--project c-module--link">
                                <h4 class="c-module__title">Prototyping</h4>
                                <p class="c-module__tags">#electricity #arduino</p>
                            </a>
                        </div>
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 2
                            </h3>
                            <a href="module-detail" class="c-module c-module--code c-module--link">
                                <h4 class="c-module__title">Device Programming&nbsp;1</h4>
                                <p class="c-module__tags">#HTML #flask #JS</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--connect c-module--link">
                                <h4 class="c-module__title">Data Communication&nbsp;1</h4>
                                <p class="c-module__tags">#cryptography #coding</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Data Management</h4>
                                <p class="c-module__tags">#sql #databases #erd</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--create c-module--link">
                                <h4 class="c-module__title">User Interface Design</h4>
                                <p class="c-module__tags">#ui #design #HTML #CSS</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--project c-module--link">
                                <h4 class="c-module__title">Project&nbsp;1</h4>
                                <p class="c-module__tags">#integrate</p>
                            </a>
                        </div>
                    </section>
                    <section class="c-curriculum__year">
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 3
                            </h3>
                            <a href="module-detail" class="c-module c-module--code c-module--link">
                                <h4 class="c-module__title">Device Programming&nbsp;2</h4>
                                <p class="c-module__tags">#c# #xamarin #coding</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--connect c-module--link">
                                <h4 class="c-module__title">Security</h4>
                                <p class="c-module__tags">#privacy #beveiliging</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Cloud&nbsp;1</h4>
                                <p class="c-module__tags">#c# #cloud #asp.net</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--create c-module--link">
                                <h4 class="c-module__title">Interaction Design</h4>
                                <p class="c-module__tags">#interaction #dashboards</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--project c-module--link">
                                <h4 class="c-module__title">Project&nbsp;2</h4>
                                <p class="c-module__tags">#business_cases</p>
                            </a>
                        </div>
                        <div class="c-curriculum__semester c-curriculum__semester--choice c-curriculum__semester--choice-4">
                            <h3 class="c-curriculum__semester-title">
                                Semester 4
                            </h3>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Advanced Programming &amp; Maths</h4>
                                <p class="c-module__tags">#principles #python</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Computer Networks</h4>
                                <p class="c-module__tags">#dhcp #router #netwerk</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Data Science</h4>
                                <p class="c-module__tags">#principes #data</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--create c-module--link">
                                <h4 class="c-module__title">User Experience Design</h4>
                                <p class="c-module__tags">#ux #user #wireframe</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--project c-module--link">
                                <h4 class="c-module__title">Prototyping</h4>
                                <p class="c-module__tags">#electricity #arduino</p>
                            </a>
                        </div>
                    </section>
                    <section class="c-curriculum__year">
                        <div class="c-curriculum__semester c-curriculum__semester--choice c-curriculum__semester--choice-5">
                            <h3 class="c-curriculum__semester-title">
                                Semester 5
                            </h3>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Device Programming&nbsp;1</h4>
                                <p class="c-module__tags">#HTML #flask #JS</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Data Communication&nbsp;1</h4>
                                <p class="c-module__tags">#cryptography #coding</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--analysis c-module--link">
                                <h4 class="c-module__title">Data Management</h4>
                                <p class="c-module__tags">#sql #databases #erd</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--create c-module--link">
                                <h4 class="c-module__title">User Interface Design</h4>
                                <p class="c-module__tags">#ui #design #HTML #CSS</p>
                            </a>
                            <a href="module-detail" class="c-module c-module--project c-module--link">
                                <h4 class="c-module__title">Project&nbsp;1</h4>
                                <p class="c-module__tags">#integrate</p>
                            </a>
                        </div>
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 6
                            </h3>
                            <a href="module-detail" class="c-module c-module--project c-module--full c-module--link">
                                <h4 class="c-module__title">Stage + Bachelorproef</h4>
                                <p class="c-module__tags">#ervaring #onderzoek</p>
                            </a>
                        </div>
                    </section>
                </div>
                <ul class="o-list c-curriculum-legend">
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-create-base"></span>
                        Create
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-code-base"></span>
                        Code
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-connect-base"></span>
                        Connect
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-analysis-base"></span>
                        Inform
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-project-base"></span>
                        Integrate
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="profile-smart-technology" class="c-row c-row--lg c-row--divide">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="s-content">
                        <h2 class="c-type-title-lg">
                            Smart <br> Technology <br> Creator
                        </h2>
                    </div>
                </div>
            </div>
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-6-of-12-bp4">
                    <div class="c-main-section-lg">
                        <div class="o-grid o-grid--gutter-lg">
                            <div class="o-grid__item u-5-of-6-bp5 u-push-1-of-6-bp5">
                                <div class="u-max-width-md">
                                    <p class="u-ms2">
                                        Wil je sensordata verzamelen en met elkaar connecteren?
                                        Is het ontwerpen en programmeren van een artificieel brein echt iets voor jou?
                                        Lijkt het je wel iets om je voorspellingen visueel weer te geven in slimme, mixed reality applicaties?
                                        Dan is NMCT uitstroomprofiel Smart Technology Creator waarschijnlijk iets voor jou!
                                        Programmeer  en connecteer sensoren met Lora en Python.
                                        Analyseer datastromen met Machine Learning algoritmes en neurale netwerken.
                                    </p>
                                    <h3 class="u-mb-alpha u-color-alpha-light">
                                        Jouw toekomst
                                    </h3>
                                    <p class="u-color-neutral-base">
                                        Big&nbsp;Data&nbsp;Architect, Cloud&nbsp;Engineer, R&D&nbsp;Developer, IT&nbsp;Engineer, SQL&nbsp;Programmeur, &hellip;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-main-section-lg">
                        <p>
                            <img src="/img/jpg/NMCT-shoot2-17.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="o-grid__item u-6-of-12-bp4">
                    <p>
                        <img src="/img/jpg/NMCT-shoot2-8.jpg" alt="">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg c-row--clear-top">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-6-of-12-bp4 u-push-6-of-12-bp4">
                    <h2 class="c-type-title-lg">
                        Web <br> &amp; App <br> Developer
                    </h2>
                </div>
            </div>
            <div class="o-grid o-grid--gutter-lg o-flex o-flex--wrap o-flex--horizontal-rev">
                <div class="o-grid__item u-6-of-12-bp4">
                    <div class="c-main-section-lg">
                        <div class="o-grid o-grid--gutter-lg">
                            <div class="o-grid__item u-5-of-6-bp5">
                                <div class="u-max-width-md">
                                    <p class="u-ms2">
                                        Wil je zowel de front-end als back-end van slimme applicaties bouwen?
                                        Is verhalen visueel weergeven echt iets voor jou?
                                        Kriebelt het om één van de eerste echte Mixed Reality Developers te worden?

                                        Dan is NMCT uitstroom profiel Web &amp; App Developer waarschijnlijk iets voor jou!
                                        Ga aan de slag met HTML, Javascript en Xamarin. Voel je helemaal thuis in Android en Java.
                                        Frameworks en patterns hebben geen geheimen voor jou!
                                    </p>
                                    <h3 class="u-mb-alpha u-color-alpha-light">
                                        Jouw toekomst
                                    </h3>
                                    <p class="u-color-neutral-base">
                                        Big&nbsp;Data&nbsp;Architect, Cloud&nbsp;Engineer, R&D&nbsp;Developer, IT&nbsp;Engineer, SQL&nbsp;Programmeur, &hellip;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-main-section-lg">
                        <p>
                            <img src="/img/jpg/NMCT-shoot1-50.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="o-grid__item u-6-of-12-bp4">
                    <p>
                        <img src="/img/jpg/NMCT-shoot1-67-2.jpg" alt="">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg c-row--clear-top">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <h2 class="c-type-title-lg">
                        Infrastructure <br> Engineer
                    </h2>
                </div>
            </div>
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-6-of-12-bp4">
                    <div class="c-main-section-lg">
                        <div class="o-grid o-grid--gutter-lg">
                            <div class="o-grid__item u-5-of-6-bp5 u-push-1-of-6-bp5">
                                <div class="u-max-width-md">
                                    <p class="u-ms2">
                                        Word je enthousiast van computernetwerken installeren, configureren en onderhouden?
                                        Is een computernetwerk beveiligen tegen externe en interne bedreigingen echt iets voor jou?
                                        Dan is NMCT uitstroomprofiel Infrastructure Engineer waarschijnlijk iets voor jou!
                                        Leer alles over infrastructuur opzetten met behulp van Windows en Linux, zowel lokaal als in de Cloud.
                                        Wordt expert in VM Ware een virtueel computernetwerk automatisch deployen aan de hand van scripting.
                                    </p>
                                    <h3 class="u-mb-alpha u-color-alpha-light">
                                        Jouw toekomst
                                    </h3>
                                    <p class="u-color-neutral-base">
                                        Big&nbsp;Data&nbsp;Architect, Cloud&nbsp;Engineer, R&D&nbsp;Developer, IT&nbsp;Engineer, SQL&nbsp;Programmeur, &hellip;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-main-section-lg">
                        <p>
                            <img src="/img/jpg/NMCT-shoot1-80.jpg" alt="">
                        </p>
                    </div>
                </div>
                <div class="o-grid__item u-6-of-12-bp4">
                    <p>
                        <img src="/img/jpg/NMCT-shoot2-8.jpg" alt="">
                    </p>
                </div>
            </div>
        </div>
    </div>
    {{ partial "components/cta.html" (dict "title" "Klaar om IT expert te worden?" "paragraph" "Leer zelf de technieken waar de topbedrijven mee bezig zijn") }}
</main>    
{{ end }}
