{{ define "main" }}
<main>
    <section class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
                                {{ .Title }}
                            </h1>
                            <p class="c-type-intro">
                                Vanaf het tweede semester, krijg je elk semester de kans om de technieken die je geleerd hebt toe te passen in een boeiend project.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-row c-row--lg c-row--divide">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section">
                        <div class="u-max-width-optimal">
                            <p class="c-type-meta u-mb-alpha u-ms-1 u-color-neutral-base">
                                1MCT - Project 1
                            </p>
                            <h2 class="c-type-intro u-mb-zeta">
                                Your project
                            </h2>

                            <p>
                                Op het einde van het 1ste jaar werk je 4 weken lang individueel aan een Internet of Things project. Je integreert verschillende inhouden en vaardigheden van verschillende opleidingsonderdelen in dit project.
                            </p>
                        </div>
                    </div>
                    <div class="c-main-section">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video playsinline class="c-video-player__video" poster="">
                                <source src="https://mctwebsite.blob.core.windows.net/video/2021-project1.webm" type="video/webm">
                                <source src="https://mctwebsite.blob.core.windows.net/video/2021-project1.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-base">
                            Een verzameling van projecten uit project 1.
                        </p>
					</div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-row c-row--lg c-row--divide">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section">
                        <div class="u-max-width-optimal">
                            <p class="c-type-meta u-mb-alpha u-ms-1 u-color-neutral-base">
                                2MCT - Project 2
                            </p>
                            <h2 class="c-type-intro u-mb-zeta">
                                Team Project
                            </h2>
                            <p>
								Halverwege het tweede jaar valt project 2. Het voornaamste doel in dit project is om de rollen & werkmethodes in projectmanagement op een agile manier toe te passen. Dit is de eerste keer in de opleiding dat een groot project in team uitgewerkt wordt. Het is ook een gelegenheid om je te verdiepen in datgene wat je echt boeit, met een aantal technische uitdagingen...
							</p>
							<p>
								Hier werken we aan IT-projecten die we krijgen van andere Howest-opleidingen.
							</p>
                        </div>
                    </div>
                    <!-- <div class="c-main-section">
                        <div class="o-grid o-grid--gutter u-mb-epsilon-neg">
                            {{ range .Pages }}
                                {{ if eq .Params.project 2 }}
                                <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp5 u-mb-epsilon">
                                    {{ partial "atoms/project-article-small" .}}
                                </div>
                                {{ end }}
                            {{ end }}
                        </div>
					</div> -->
					<div class="c-main-section">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video playsinline class="c-video-player__video" poster="">
                                <source src="https://mctwebsite.blob.core.windows.net/video/project-2.webm" type="video/webm">
                                <source src="https://mctwebsite.blob.core.windows.net/video/project-2.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-base">
							Projecten van halverwege het tweede jaar.
                        </p>
					</div>
                </div>
            </div>
        </div>
    </section>
    <section id="project3" class="c-row c-row--lg c-row--divide">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section">
                        <div class="u-max-width-optimal">
                            <p class="c-type-meta u-mb-alpha u-ms-1 u-color-neutral-base">
                                2MCT - Project 3
                            </p>
                            <h2 class="c-type-intro u-mb-zeta">
                                Industry Project
                            </h2>
                            <p>
                                Op het einde van het 2<sup>de</sup> jaar werk je 4 weken lang in een team van 3 tot 5 MCT-studenten op een bedrijfscase aangeleverd door een Belgische of internationale onderneming. Je integreert verschillende inhouden en vaardigheden van verschillende opleidingsonderdelen in dit project. Bedrijven waar we reeds mee samenwerken zijn onder andere TVH, Smappee, Alvey Group, Ordina,&nbsp;...
                            </p>
                        </div>
                    </div>
                    <div class="c-main-section">
                        <div class="o-grid o-grid--gutter u-mb-epsilon-neg">
                            {{ range .Pages }}
                                {{ if eq .Params.project 3 }}
                                <div class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp5 u-mb-epsilon">
                                    {{ partial "atoms/project-article-small" .}}
                                </div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-row c-row--lg c-row--divide">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section">
                        <div class="u-max-width-optimal">
                            <p class="c-type-meta u-mb-alpha u-ms-1 u-color-neutral-base">
                                3MCT - The Collective
                            </p>
                            <h2 class="c-type-intro u-mb-zeta">
                                The Collective
                            </h2>
                            <p>
								Vlak voor je stage maak je kennis met de werking van bedrijven in 'The Collective'. In deze module kijken we naar de werking van een bedrijf. Hier kies je zelf op welke manier je dit bekijkt: alsof het je eigen bedrijf zou zijn, of hoe je in een bedrijf zal terecht komen na je studies.
                            </p>
                        </div>
                    </div>
                    <div class="c-main-section">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video playsinline class="c-video-player__video" poster="https://mctwebsite.blob.core.windows.net/video/startup-beurs-poster.jpg">
                                <source src="https://mctwebsite.blob.core.windows.net/video/depart-startup-beurs-studenten-ondernemen.webm" type="video/webm">
                                <source src="https://mctwebsite.blob.core.windows.net/video/depart-startup-beurs-studenten-ondernemen.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-base">
                            Projecten van de verschillende opleidingen samen in startup.
                        </p>
					</div>
                </div>
            </div>
        </div>
    </section>
    {{ partial "components/cta.html" (dict "title" "Klaar om zelf een project te bouwen?" "paragraph" "STOOM JE KLAAR VOOR DE TOEKOMST EN SCHRIJF JE VANDAAG IN.") }}
</main>
{{ end }}
