<article class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4 u-1-of-4-bp5 o-flex o-flex--align-end u-mb-epsilon">
    <a class="c-media c-media--link" href="/nieuws/nieuws-detail">
        <picture class="c-media__picture u-mb-delta">
            <img class="c-media__image" src="/img/jpg/medium/{{ .image }}" alt="">
        </picture>
        <div class="c-media__body">
            <p class="c-media__meta u-ms-2 u-color-neutral-base u-mb-alpha">
                {{ .date }}
            </p>
            <div class="c-media__content">
                <h2 class="c-media__title u-ms0 u-mb-gamma">
                    {{ .title }}
                </h2>
                <p class="c-media__text u-ms0">
                    {{ .text }}
                </p>
            </div>
        </div>
    </a>
</article>
