{{ define "main" }}

<!-- <section class="c-row c-row--xl">
	<div class="o-container">
		<div class="o-grid o-grid--gutter-lg">
			<div class="o-grid__item u-10-of-12-bp5">
				<div class="c-main-section">
					<div class="u-max-width-optimal">
						<p class="c-type-meta u-mb-alpha u-ms-1 u-color-neutral-base">
							Wie zijn de MCT-studenten en waar komen ze vandaan?
						</p>
						<h2 class="c-type-intro u-mb-zeta">
							Wie zijn de MCT-studenten?
						</h2>
						<p>
							De MCT-studenten komen uit allerlei verschillende achtergronden. Lorem ipsum dolor sit amet
							consectetur adipisicing elit. Praesentium amet laborum in consectetur earum cum eaque nisi?
							Totam quia maiores magnam dolor numquam dolores explicabo sapiente incidunt obcaecati,
							reprehenderit sed!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="c-row c-row--lg u-bgcolor-neutral-xxxxx-light">
	<div class="o-container">
		<div class="c-news">
			<div class="c-news__body">
				<div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-baseline u-mb-epsilon-neg">
					{{ range .Site.Taxonomies.categories.wie }}
					<article
						class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4 u-1-of-4-bp5 o-flex o-flex--align-end u-mb-epsilon">
						{{ partial "atoms/news-article" .}}
					</article>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section> -->

{{ end }}