{{ define "main" }}
<main>
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
								{{.Params.Subheader}}
                            </h1>
                            <p class="c-type-intro">
								{{.Params.Intro | markdownify}}
                            </p>
                        </div>
                    </div>
                    <div class="c-main-section-lg">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video class="c-video-player__video" poster="/img/jpg/wouter-at-home-promo.jpg">
                                <source src="https://mctwebsite.blob.core.windows.net/video/AI-at-home-leren.webm" type="video/webm">
                                <source src="https://mctwebsite.blob.core.windows.net/video/AI-at-home-leren.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
                            Een voorproefje van wat je kan verwachten.
                        </p>
                    </div>
                    <div class="c-main-section-lg">
                        <div class="c-main-section">
                            <div class="s-content u-max-width-lg">
                                <h2 class="c-type-title-lg">
									"Software ate the world, AI will eat software"
                                </h2>
                            </div>
                        </div>
                        <div class="c-main-section">
                            <div class="o-grid o-grid--gutter-lg">
                                <div class="o-grid__item u-1-of-2-bp4">
                                    <div class="s-content u-max-width-optimal">
                                        <p>Artificial Intelligence (AI) is niet meer voorbehouden voor academici. <a href="/programma/machine-learning">Machine Learning</a> en <a href="/programma/deep-learning">Deep Learning</a> zijn dankzij
										krachtige frameworks en cloud services binnen het bereik van iedere IT'er. Uit data inzichten puren, voorspellingen
										doen of automatisch patronen herkennen en classificeren, Machine Learning en Deep Learning geven een enorme boost aan
										je mogelijkheden als ontwikkelaar. “Software ate the world, AI will eat software”</p>
                                    </div>
                                </div>
                                <div class="o-grid__item u-1-of-2-bp4">
                                    <div class="s-content u-max-width-optimal">
                                        <p>Deze @home opleiding staat open voor iedereen die minimum 21 jaar is en/of werkstudent. Je kiest zelf wanneer je wilt
										studeren en ons team begeleidt jou via het internet. Er zijn ook enkele contactmomenten op de campus voorzien.
										Afstandsonderwijs wordt hoofdzakelijk via onze krachtige LMS (Learning management system) gegeven. Je krijgt
										Nederlandstalige video opnames van goede kwaliteit van het dagonderwijs, en een heleboel practica ter beschikking om op
										je eigen tempo je de leerstof eigen te maken.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
                <div class="o-grid__item u-8-of-12-bp4 u-7-of-12-bp5 u-push-1-of-12-bp5 u-2-of-4-bp6 u-push-1-of-4-bp6">
                    <div class="c-main-section">
                        <div class="s-content u-max-width-optimal">
                            <h3>Hoe werkt het?</h3>
                            <p>Deze @home opleiding staat open voor iedereen die minimum 21 jaar is en/of werkstudent. <strong>Je kiest zelf wanneer je wilt studeren</strong> en ons team begeleidt jou via het internet. Er zijn ook enkele contactmomenten op de campus voorzien.</p>
                            <p>Afstandsonderwijs wordt hoofdzakelijk via ons krachtige LMS (Learning management system) gegeven. Je krijgt <strong>nederlandstalige video-opnames</strong> van goede kwaliteit van het dagonderwijs, en een heleboel practica om&nbsp;<strong>op je eigen tempo</strong>&nbsp;de leerstof eigen te maken.</p>
                            <p>De opleiding is gespreid over <strong>2 semesters (1 jaar)</strong> om werk en studie te kunnen combineren. Je examens vinden plaats in <strong>Graaf Karel De Goedelaan 5, 8500 Kortrijk</strong>.</p>
                        </div>
                    </div>
                    <div class="c-main-section">
                        <div class="c-curriculum u-pt-alpha">
                            <div class="c-curriculum__semester u-pt-alpha">
                                <h3 class="c-curriculum__semester-title">
                                    Oktober {{ now.Year }}
                                </h3>
                                <a href="{{ ref . "/programma/machine-learning" }}" class="c-module c-module--analysis c-module--link">
                                    <h4 class="c-module__title">Machine Learning</h4>
                                    <p class="c-module__tags">6 studiepunten</p>
                                </a>
                            </div>
                            <div class="c-curriculum__semester u-pt-alpha">
                                <h3 class="c-curriculum__semester-title">
                                    Q1 {{ add (int now.Year) 1 }}
                                </h3>
                                <a href="{{ ref . "/programma/deep-learning" }}" class="c-module c-module--analysis c-module--link">
                                    <h4 class="c-module__title">Deep Learning</h4>
                                    <p class="c-module__tags">6 studiepunten</p>
                                </a>
                            </div>
                        </div>
                        <p class="u-ms-1 u-color-neutral-base">Een (N)MCT student die reeds voor machine learning is geslaagd krijgt vrijstelling voor deze module.</p>
                    </div>
                    <div class="c-main-section">
                        <div class="s-content u-max-width-optimal">
                            <h3>Voorwaarde</h3>
                            <p>De student kent de <strong>programmeertaal Python</strong> voldoende om zelf programma’s te schrijven of te interpreteren.</p>
                            <h3>Kostprijs</h3>
                            <p>
                                Een niet-beursstudent betaalt <strong>382 Euro</strong> <br>
                                Beursstudenten informeren best bij het studentensecretariaat: 056 24 12 25
                            </p>
                            <h3>Vragen?</h3>
                            <p>Contacteer <a href="https://mct.be/contact/">Johan De Gelas</a> of kom langs tijdens één van onze infodagen op onze campus in Kortrijk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "components/cta.html" (dict "title" "Klaar om AI op afstand te leren?" "paragraph" "Stoom je klaar voor de toekomst en schrijf je vandaag in.") }}
</main>
{{ end }}
