{{ define "main" }}
<main>
	<div class="c-row c-row--lg c-row--intro">
		<div class="c-main-section-xl">
			<div class="o-container u-max-width-xl">
				<div class="c-main-section-md"></div>
					<h1 class="c-type-meta u-ms-1 u-mb-gamma u-opacity-gamma">
						Young professionals met een idee!
					</h1>
					<p class="c-type-intro">
						Bekijk de one minute proposals van deze groepen en stem op jouw favoriet!
					</p>					
				</div>
			</div>
		</div>
	</div>
</main>
<section class="c-row c-row--lg">
	<div class="c-main-section-xl">
		<div class="o-container u-max-width-optimal u-text-center">
			<div class="u-max-width-optimal">
				<p class="c-type-meta u-mb-gamma u-ms-1 u-color-neutral-base">
					Young professionals met een idee!
				</p>
				<h1 class="c-type-intro u-mb-zeta">
					Bekijk de one minute proposals van deze groepen en stem op jouw favoriet!
				</h1>
				<p>
					Studenten energiemanagement en MCT hebben er een semester ondernemen op zitten. Tijdens The Collective werden ze in team
					uitgedaagd om niet te focussen op hun technische skills maar om hun ondernemingszin en businessmindset te ontwikkelen.
					Na 10 weken van hard werk, omgaan met feedback, pivoteren, en met volle moed opnieuw beginnen, staan hun mock-up
					bedrijven op punt.
				</p>
			</div>
		</div>
	</div>
	<div class="c-main-section-xl">
		<div class="o-container">
			<div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-baseline u-mb-epsilon-neg">
				
				<article class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4 u-1-of-4-bp5 o-flex o-flex--align-end u-mb-epsilon">
					<a class="c-media c-media--link js-show-youtube-modal" href="https://www.youtube.com/watch?v=Gpa5S8DgPzs">
						<picture class="c-media__picture u-mb-delta">
							<img class="c-media__image" src="https://dummyimage.com/600x400/000/fff" alt="">
						</picture>
						<div class="c-media__body">							
							<div class="c-media__content">
								<h2 class="c-media__title u-ms0 u-mb-gamma">
									Titel project
								</h2>
								<p class="c-media__text u-ms0">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque iste amet.
								</p>
							</div>
						</div>
					</a>
				</article>
				
				<article class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4 u-1-of-4-bp5 o-flex o-flex--align-end u-mb-epsilon">
					<a class="c-media c-media--link js-show-youtube-modal" href="https://www.youtube.com/watch?v=Gpa5S8DgPzs">
						<picture class="c-media__picture c-media__picture--play u-mb-delta ">
							<img class="c-media__image" src="https://dummyimage.com/600x400/000/fff" alt="">
						</picture>
						<div class="c-media__body">							
							<div class="c-media__content">
								<h2 class="c-media__title u-ms0 u-mb-gamma">
									Titel project 2
								</h2>
								<p class="c-media__text u-ms0">
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque iste amet.
								</p>								
							</div>
						</div>
					</a>
				</article>
				
			</div>
		</div>
	</div>
</section>
<dialog open>
	<div class='embed-container'>
		<iframe src='https://www.youtube.com/embed//Gpa5S8DgPzs' frameborder='0' allowfullscreen></iframe>
	</div>
</dialog>
{{ end }}
