{{ define "main" }}
<main>
	<div class="c-row c-row--lg c-row--intro c-row--visual-bottom">
		<div class="c-main-section-xl">
			<div class="o-container u-max-width-xl">
				<div class="c-main-section-md"></div>
					<h1 class="c-type-meta u-ms-1 u-mb-gamma u-opacity-gamma">
						MCT digitale infodag
					</h1>
					<p class="c-type-intro">
						Welkom bij de MCT-infodag! Beleef de ervaringen van onze studenten tijdens de opleiding en ontdek de unieke sfeer tijdens de projectweken.
					</p>

					<div class="o-grid o-grid--gutter">
						<div class="o-grid__item u-1-of-2-bp4">
							<div class="u-max-width-md u-pt-iota">
								<!-- <p>
									Onze studenten delen hier hun ervaringen met jullie. Ze begeleiden je chronologisch door de
									opleiding. MCT studeren is het realiseren van vernieuwende projecten in real life, dus vertellen onze studenten ook meer
									over de unieke sfeer van de intense projectweken.
								</p> -->
								<p class="u-ms2">
									<a href="/programma">Bekijk ons curriculum</a> voor meer details. Onderaan deze pagina kan je de <a href="#faq">FAQ</a> terugvinden. Als je
									nog meer vragen hebt kan je ons altijd extra vragen stellen via de chatfunctie van Howest, via onze sociale
									media kanalen of door ons een mailtje te sturen! 
								</p>
								<p class="u-ms2">
									Mis ook onze panelgesprekken niet om 11 en 15u waar je kan ontdekken wat er
									zo speciaal is om deel uit te maken van de “IoT Generation”.
								</p>
							</div>
						</div>
						<div class="o-grid__item u-1-of-2-bp4">
							<div class="c-video-player c-video-player--large-intro c-video-player--circle">
								<div class="c-video-player__container u-mb-epsilon">
									<button class="c-video-play-button c-video-play-button--circle js-circle-video-button is-playing" aria-label="Pauze video">
									<!-- <button class="c-video-play-button c-video-play-button--circle js-circle-video-button" aria-label="Play video"> -->
										<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol c-video-play-button__symbol--play">
											<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
										</svg>
										<svg role="img" class="c-symbol c-symbol-pauze c-video-play-button__symbol c-video-play-button__symbol--pauze">
											<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-pauze"></use>
										</svg>										
									</button>
									<video id="video" class="c-video-player__video js-circle-video" playsinline
										poster="https://mctwebsite.blob.core.windows.net/video/alexandra-3.png">
										<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
										<source src="https://mctwebsite.blob.core.windows.net/video/Alexandra-3.mp4" type="video/mp4">
										Your browser does not support HTML5 video.
									</video>
								</div>
								<p class="c-type-title-sm c-arrow-celine">
									Celien legt je met plezier uit waarom jij MCT zou moeten doen.
									<svg class="c-arrow-celine__arrow" xmlns="http://www.w3.org/2000/svg" width="61.176"
										height="41.306" viewBox="0 0 61.176 41.306">
										<path id="Path_1" data-name="Path 1" d="M715.5,998.743s42.046,2.277,56.5-36.668"
											transform="translate(-713.395 -959.504)" fill="none"
											stroke-linecap="round" stroke-width="4" />
									</svg>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="c-row c-row--lg">
		<div class="o-container u-max-width-xl">
			<div class="c-main-section-lg">
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<p class="u-ms2">
								MCT is een unieke opleiding met unieke studenten. Onze projecten zijn de hoogtepunten van ieder
								semester, de kern van de opleiding. Het moment waarop je ervaart hoe jouw kennis van cutting edge technologie je omgeving
								kan veranderen. 
								<!-- Ontdek “project one” (einde van 1MCT) en “team project” (2 MCT, semester 3). -->
							</p>
							<blockquote class="c-quote c-quote--lg u-pl-clear">
								“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
								<p class="c-quote__author">
									Dingstje - 1MCT
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="c-main-section">
					<div class="c-video-player">
						<button class="c-video-play-button">
							{{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol") }}
						</button>
						<video class="c-video-player__video" playsinline
							poster="https://mctwebsite.blob.core.windows.net/video/code-in-combinatie-met-sport.jpg">
							<source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm"
								type="video/webm">
							<source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
					<p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
						Project one op het einde van 1MCT
					</p>
				</div>
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<blockquote class="c-quote c-quote--lg u-pl-clear">
								“Het was een leuke en unieke ervaring voor mij om als eerste keer aan groepsproject te werken!”
								<p class="c-quote__author">
									Je weet wel, dien met zen haar - 2MCT
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="c-main-section">
					<div class="c-video-player">
						<button class="c-video-play-button">
							{{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol") }}
						</button>
						<video class="c-video-player__video" playsinline
							poster="https://mctwebsite.blob.core.windows.net/video/code-in-combinatie-met-sport.jpg">
							<source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm"
								type="video/webm">
							<source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
					<p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
						Team project op het einde van 2MCT
					</p>
				</div>
			</div>
			<div class="c-main-section-lg">
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<p class="u-ms2">
								Na de eerste 3 semesters vragen we studenten om een keuze te maken uit onze 4 keuzetrajecten. Deze vier beroepsprofielen
								vormen samen het team dat een bedrijf nodig heeft om een volledige Internet of Things applicatie uit te rollen van
								sensor tot AI, van website tot Mixed Reality. Daarom doen bedrijven al in het 2de jaar beroep op onze studenten; om te
								experimenteren en te vernieuwen. Deze bedrijven zorgen voor de opdrachten en experten voor de industry (Semester 4; Link
								naar project 3) en research (Semester 5; Link naar project 4) projecten en stageplaatsen. Er zijn maar liefst 4 tot 6
								keer zoveel stageplaatsen als MCT stagiars!
							</p>
							<blockquote class="c-quote c-quote--lg u-pl-clear">
								“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
								<p class="c-quote__author">
									Dien van da bedrijf - bedrijfsnaam
								</p>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="c-main-section-lg">
				<div class="c-main-section-lg">
					<div class="o-grid">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
											</button>
											<video id="video" class="c-video-player__video" playsinline
												poster="https://mctwebsite.blob.core.windows.net/video/Alexandra.png">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/video/Alexandra.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
										<p class="c-quote__author">
											Poltje - Web App developer
										</p>
									</blockquote>
								</div>
							</div>					
						</div>
					</div>
				</div>	
				<div class="c-main-section-lg">
					<div class="o-grid o-grid--justify-end">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
											</button>
											<video id="video" class="c-video-player__video" playsinline
												poster="https://mctwebsite.blob.core.windows.net/video/Alexandra.png">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/video/Alexandra.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
										<p class="c-quote__author">
											Poltje - Web App developer
										</p>
									</blockquote>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class="c-main-section-lg">
					<div class="o-grid">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
											</button>
											<video id="video" class="c-video-player__video" playsinline
												poster="https://mctwebsite.blob.core.windows.net/video/Alexandra.png">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/video/Alexandra.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
										<p class="c-quote__author">
											Poltje - Web App developer
										</p>
									</blockquote>
								</div>
							</div>					
						</div>
					</div>
				</div>	
				<div class="c-main-section-lg">
					<div class="o-grid o-grid--justify-end">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
											</button>
											<video id="video" class="c-video-player__video" playsinline
												poster="https://mctwebsite.blob.core.windows.net/video/Alexandra.png">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/video/Alexandra.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
										<p class="c-quote__author">
											Poltje - Web App developer
										</p>
									</blockquote>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<section class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxxx-light">
		<div class="o-container u-max-width-optimal">
			<div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
				<div class="o-grid__item u-width-auto">
					<h2>Inschrijven?</h2>
					<p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem praesentium incidunt eos laboriosam a ipsa, minus enim laborum? Ex esse quos recusandae enim vel cumque! Optio tenetur velit ex impedit.</p>
				</div>
				<div class="o-grid__item u-width-auto">
					<p>
						<a href="https://www.howest.be/nl/studeren/inschrijven-en-info"
							class="c-button c-button--alpha c-button--lg c-button--transform">Schrijf je nu in</a>
					</p>
				</div>
			</div>
		
		</div>
	</section>
	<section id="faq" class="c-row c-row--lg c-row--divide">		
		<div class="o-container u-max-width-optimal">
			{{ partial "components/faq" . }}
		</div>					
	</section>
</main>
{{ end }}
