{{ define "main" }}
<main>
	<div class="c-row c-row--lg c-row--intro c-row--visual-bottom">
		<div class="c-main-section-xl">
			<div class="o-container u-max-width-xl">
				<div class="c-main-section-md"></div>
					<h1 class="c-type-meta u-ms-1 u-mb-gamma u-opacity-gamma">
						Welkom op de virtuele MCT Infodagen
					</h1>
					<p class="c-type-intro">
						Welkom bij de MCT-infodagen! Beleef de ervaringen van onze studenten tijdens de opleiding en ontdek de unieke sfeer tijdens de projectweken.
					</p>
					<div class="o-grid o-grid--gutter">
						<div class="o-grid__item u-1-of-2-bp4">
							<div class="u-max-width-md u-pt-iota">
								<p class="u-ms2">
									Onze docenten en studenten staan voor je klaar en beantwoorden je vragen over MCT op onze discord server tijdens de
									SID-IN weken. Je kan met onze studenten en docenten chatten <a href="https://discord.io/mct-infodag">via Discord</a>.
									Onderaan deze pagina vind je de <a href="#faq">veelgestelde vragen</a>.
								<p class="u-ms2 u-mb-alpha">
									Wil je weten hoe je een professional wordt die cutting edge technologie gebruikt om je doel te bereiken, mis dan ook
									onze live sessie niet.
								</p>
								<p class="u-ms2">
									Veelgestelde vragen vind je onderaan de pagina terug maar ook onze studenten kunnen je al heel wat info meegeven.
								</p>								
								<!-- <p class="u-ms2">
									<a href="/programma">Bekijk ons curriculum</a> voor meer details. Onderaan deze pagina kan je de <a href="#faq">FAQ</a>
									terugvinden.
								</p> -->
							</div>
						</div>
						<div class="o-grid__item u-1-of-2-bp4">
							<div class="c-video-player c-video-player--large-intro c-video-player--circle">
								<div class="c-video-player__container u-mb-epsilon">
									<button class="c-video-play-button c-video-play-button--circle js-circle-video-button" aria-label="Speel video">
										<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol c-video-play-button__symbol--play">
											<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
										</svg>
										<svg role="img" class="c-symbol c-symbol-pauze c-video-play-button__symbol c-video-play-button__symbol--pauze">
											<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-pauze"></use>
										</svg>
									</button>
									<video class="c-video-player__video js-circle-video" playsinline poster="https://mctwebsite.blob.core.windows.net/photo/infodag/Celine.jpg">
										<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/Intro_Celine_square.mp4" type="video/mp4">
										Your browser does not support HTML5 video.
									</video>
								</div>
								<p class="c-type-title-sm c-arrow-celine">
									Céline zet je hier op weg, luister naar haar ervaringen.
									<svg class="c-arrow-celine__arrow" xmlns="http://www.w3.org/2000/svg" width="61.176"
										height="41.306" viewBox="0 0 61.176 41.306">
										<path id="Path_1" data-name="Path 1" d="M715.5,998.743s42.046,2.277,56.5-36.668"
											transform="translate(-713.395 -959.504)" fill="none"
											stroke-linecap="round" stroke-width="4" />
									</svg>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="c-row c-row--lg">
		<div class="o-container u-max-width-xl">
			<div class="c-main-section-lg">
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<p class="u-ms2">
								MCT is een unieke opleiding met unieke studenten. Onze projecten zijn de hoogtepunten van ieder semester, de kern van de opleiding. Het moment waarop je ervaart hoe jouw kennis van cutting edge technologie je omgeving kan veranderen. 
								<!-- Ontdek “project one” (einde van 1MCT) en “team project” (2 MCT, semester 3). -->
							</p>
							<blockquote class="c-quote c-quote--lg u-pl-clear">
								“Het is tof om na een jaar van verschillende leerstof te zien al een eigen product te kunnen maken”
								<p class="c-quote__author">
									Chloë Devriese
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="c-main-section">
					<div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video playsinline class="c-video-player__video" poster="https://mctwebsite.blob.core.windows.net/photo/infodag/MCT-meets-Industry-2019---Project-1MCT_v2.jpg">
                                <source src="https://mctwebsite.blob.core.windows.net/photo/infodag/MCT%20meets%20Industry%202019%20-%20Project%201MCT_REBRANDED.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
					<p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
						Project one op het einde van 1MCT
					</p>
				</div>
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<blockquote class="c-quote c-quote--lg u-pl-clear">
								“Het was een leuke en unieke ervaring voor mij om als eerste keer aan groepsproject te werken!”
								<p class="c-quote__author">
									Brian Thery
								</p>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="c-main-section">
					<div class="c-video-player">
						<button class="c-video-play-button">
							{{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol") }}
						</button>
						<video class="c-video-player__video" playsinline poster="https://mctwebsite.blob.core.windows.net/photo/infodag/Compilatie_teamproject.jpg">							
							<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/MCT_teamproject_II_COMPILATIE_zonderLogos.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
					<p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
						Team project op het einde van 2MCT
					</p>
				</div>
			</div>
			<div class="c-main-section-lg">
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<p class="u-ms2">
								Na de eerste 3 semesters vragen we studenten om een keuze te maken uit onze 4 keuzetrajecten. Deze vier beroepsprofielen vormen samen het team dat een bedrijf nodig heeft om een volledige Internet of Things applicatie uit te rollen van sensor tot AI, van website tot Mixed Reality. 								
							</p>
							
						</div>
					</div>
				</div>
			</div>
			<div class="c-main-section-lg">
				<div class="c-main-section-lg">
					<div class="o-grid">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button c-video-play-button--circle js-circle-video-button" aria-label="Speel video">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol c-video-play-button__symbol--play">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
												<svg role="img" class="c-symbol c-symbol-pauze c-video-play-button__symbol c-video-play-button__symbol--pauze">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-pauze"></use>
												</svg>
											</button>
											<video class="c-video-player__video" playsinline poster="https://mctwebsite.blob.core.windows.net/photo/infodag/Stephanie.jpg">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/Stephanie_square.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Je maakt heel veel projecten waar je later trots op kan zijn.”
										<p class="c-quote__author">
											Stéphanie - Smart Tech &amp; AI creator
										</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>	
				<div class="c-main-section-lg">
					<div class="o-grid o-grid--justify-end">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button c-video-play-button--circle js-circle-video-button" aria-label="Speel video">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol c-video-play-button__symbol--play">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
												<svg role="img" class="c-symbol c-symbol-pauze c-video-play-button__symbol c-video-play-button__symbol--pauze">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-pauze"></use>
												</svg>
											</button>
											<video class="c-video-player__video" playsinline
												poster="https://mctwebsite.blob.core.windows.net/photo/infodag/Sebastiaan.jpg">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/Sebastiaan_InfrastructureEngineer.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Je wordt bijgestaan door een team van docenten die altijd met advies klaarstaan en kennis hebben vanuit het werkveld.”
										<p class="c-quote__author">
											Sebastiaan - IoT Infrastructure Engineer
										</p>
									</blockquote>
								</div>
							</div>							
						</div>
					</div>
				</div>
				<div class="c-main-section-lg">
					<div class="o-grid">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button c-video-play-button--circle js-circle-video-button" aria-label="Speel video">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol c-video-play-button__symbol--play">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
												<svg role="img" class="c-symbol c-symbol-pauze c-video-play-button__symbol c-video-play-button__symbol--pauze">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-pauze"></use>
												</svg>
											</button>
											<video class="c-video-player__video" playsinline poster="https://mctwebsite.blob.core.windows.net/photo/infodag/Ruben.jpg">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/Ruben_AI_engineer_square.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“De focus is gelegd op AI, de implementaties in het dagdagelijkse leven...”
										<p class="c-quote__author">
											Ruben - AI Engineer
										</p>
									</blockquote>
								</div>
							</div>					
						</div>
					</div>
				</div>	
				<div class="c-main-section-lg">
					<div class="o-grid o-grid--justify-end">
						<div class="u-max-width-lg">
							<div class="o-grid o-grid--gutter o-grid--align-center">
								<div class="o-grid__item u-2-of-5-bp3">
									<div class="c-video-player c-video-player--circle c-video-player--small-circle">
										<div class="c-video-player__container">
											<button class="c-video-play-button c-video-play-button--circle js-circle-video-button" aria-label="Speel video">
												<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol c-video-play-button__symbol--play">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
												</svg>
												<svg role="img" class="c-symbol c-symbol-pauze c-video-play-button__symbol c-video-play-button__symbol--pauze">
													<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-pauze"></use>
												</svg>
											</button>
											<video class="c-video-player__video" playsinline
												poster="https://mctwebsite.blob.core.windows.net/photo/infodag/Tibo.jpg">
												<!-- <source src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
												<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/Tibo_Web_app_v2.mp4" type="video/mp4">
												Your browser does not support HTML5 video.
											</video>
										</div>
									</div>
								</div>
								<div class="o-grid__item u-3-of-5-bp3 s-content">
									<blockquote class="c-quote u-pl-clear">
										“Als MCT-student heb je het best mogelijke pakket om na 3 jaar in de industrie terecht te komen.”
										<p class="c-quote__author">
											Tibo - Next Web Developer
										</p>
									</blockquote>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="c-main-section-lg">
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal">
						<div class="s-content">
							<p class="u-ms2">
								Daarom doen bedrijven al in het 2de jaar beroep op onze studenten; om te experimenteren en te vernieuwen. Deze bedrijven zorgen voor de opdrachten en experten voor de industry en research projecten en stageplaatsen. Er zijn maar liefst 4 tot 6 keer zoveel stageplaatsen als MCT stagiars!
							</p>
							<p class="u-ms2">
								<a href="http://ml6.eu">ML6</a>, de marktleider in Vlaanderen omtrent AI-expertise, is een Europees bedrijf met vestigingen in Duitsland, UK en Nederland. Elk jaar bieden ze projecten aan voor 2de jaars MCT-studenten tijdens hun "industry project" weken.
							</p>
					
						</div>
					</div>
				</div>
				<div class="c-main-section">
					<div class="o-container u-max-width-optimal s-content">
						<blockquote class="c-quote u-pl-clear">
							“Vorig jaar brachten 2 MCT Teams (4 studenten elk) het project ‘counting people’ tot een goed einde en zorgde ML6 dat de proof of concept van MCT studenten bij een andere MCT-partner in productie ging. Enkele MCT-studenten hebben bij ons ook stage gelopen of melden zich aan als jobstudent. Ondertussen zijn enkele MCT-alumni doorgegroeid en deel geworden van ons groeiend team.”
							<p class="c-quote__author">
								Matthias Feys - CTO van ML6
							</p>
						</blockquote>
					</div>
				</div>
				<div class="c-main-section">
					<div class="c-video-player">
						<button class="c-video-play-button">
							{{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol") }}
						</button>
						<video class="c-video-player__video" playsinline
							poster="https://mctwebsite.blob.core.windows.net/photo/infodag/ml6.jpg">
							<source src="https://mctwebsite.blob.core.windows.net/photo/infodag/03ml6g1smarttech_1608_396305_Concept%20Visualisatie.mp4" type="video/mp4">
							Your browser does not support HTML5 video.
						</video>
					</div>
					<p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
						Een MCT-project in samenwerking met het AI-bedrijf ML6.
					</p>
				</div>
			</div>
			
			<div class="c-main-section-lg">
				<div class="o-container u-max-width-optimal">
					<div class="s-content">
						<p class="u-ms2">
							Een enorme keuze in Vlaanderen dus. Maar we hebben ook een uitgebreid aanbod van internationale stages met “life changing experiences”. Van Washington (USA) tot Zuid-Afrika. Van het historische Cordoba (Spanje) tot het hoogtechnologische Taiwan.
						</p>
						
					</div>
				</div>								
			</div>			
			<div class="c-main-section-lg">
				
				<div class="o-grid o-grid--gutter o-grid--align-center">
					<div class="o-grid__item u-2-of-5-bp3">
						<figure class="u-rounded-full">
							<img src="https://mctwebsite.blob.core.windows.net/photo/cape-of-good-hope-square.jpg" alt="">
						</figure>	
					</div>
					<div class="o-grid__item u-3-of-5-bp3 s-content">
						<blockquote class="c-quote u-pl-clear">
							“Mijn stage in Zuid-Afrika was een prachtige ervaring! Ik mag er dan wel maar een maand geweest zijn (i.p.v. vier, bedankt Coronavirus), het was zeker de moeite waard! De mensen, de cultuur, de natuur…, te veel om op te noemen.”
							<p class="c-quote__author">
								Pieter-Jan - MCT3
							</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
	</section>	
	<section class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxxx-light">
		<div class="o-container u-max-width-optimal">
			<div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
				<div class="o-grid__item u-width-auto">
					<h2>Inschrijven?</h2>
					<p class="">Overtuigd? Schrijf je dan snel in. Hoe vroeger je deel uitmaakt van de #IoTGeneration, hoe beter wij je kunnen helpen!</p>
				</div>
				<div class="o-grid__item u-width-auto">
					<p>
						<a href="https://www.howest.be/nl/studeren/inschrijven-en-info" class="c-button c-button--alpha c-button--lg c-button--transform">Schrijf je nu in</a>
					</p>
				</div>
			</div>
		
		</div>
	</section>
	<section id="faq" class="c-row c-row--lg c-row--divide">		
		<div class="o-container u-max-width-optimal">
			{{ partial "components/faq" . }}
		</div>					
	</section>
</main>
{{ end }}
