{{ define "main" }}
<main>
	<div class="c-row c-row--lg">
		<div class="o-container u-max-width-xl">
			<!-- <div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5"> -->
					<div class="c-main-section">
						<h1 class="c-type-meta u-ms-1 u-mb-gamma u-opacity-gamma">
							MCT digitale infodag
						</h1>
						<p class="c-type-intro">
							Welkom bij de MCT-infodag! Bekijk de ervaringen van onze studenten lorem ipsum dolor sit amet.
						</p>
					</div>
					<div class="c-main-section">
						<div class="o-grid o-grid--gutter">
							<div class="o-grid__item u-1-of-2-bp4">	
								<div class="c-main-section-md">
									<div class="u-max-width-md">
										<p>
											Onze studenten delen hier hun ervaringen met jullie. Ze begeleiden je chronologisch door de opleiding. MCT
											studeren
											is het realiseren van vernieuwende projecten in real life, dus vertellen onze studenten ook meer over de unieke
											sfeer
											van de intense projectweken.
										</p>
										<p>
											Ons curriculum kan je hier terugvinden. Onderaan deze pagina kan je de FAQ terugvinden. Als je nog meer vragen
											hebt kan je ons altijd extra vragen stellen via de chatfunctie van Howest, via onze sociale media kanalen of door ons een
											mailtje te sturen! Mis ook onze panelgesprekken niet om 11 en 15u waar je kan ontdekken wat er zo speciaal deel uit te
											maken van de “IoTGeneration”.
										</p>										
									</div>
								</div>								
							</div>
							<div class="o-grid__item u-1-of-2-bp4">
								<div class="c-video-player c-video-player--circle">
									<div class="c-video-player__container">
										<button class="c-video-play-button">
											<svg role="img" class="c-symbol c-symbol-play c-video-play-button__symbol">
												<use xlink:href="/img/svg/svg-symbols.svg#c-symbol-play"></use>
											</svg>
										</button>
										<video id="video" class="c-video-player__video" playsinline
											poster="https://mctwebsite.blob.core.windows.net/video/code-in-combinatie-met-sport.jpg">
											<!-- <source	src="https://mctwebsite.blob.core.windows.net/video/MCTpromo_newv5_rebranding.webm" type="video/webm"> -->
											<source
												src="https://r2---sn-5hne6nsk.c.drive.google.com/videoplayback?expire=1588715400&ei=SKexXuXqBIiJ-QWdm7LAAg&ip=91.181.94.80&cp=QVNNWkhfVFROQVhOOkdlaEtGYlBNRUNyN29JelM3TUNQalRSM1dQV1llMEZWMnNCUmlncGNabEI&id=cd8bcf3fd7bb34f6&itag=18&source=webdrive&requiressl=yes&mh=JK&mm=32&mn=sn-5hne6nsk&ms=su&mv=u&mvi=1&pl=20&sc=yes&ttl=transient&susc=dr&driveid=1DtShUXQyv0i28X6-TYA40sIvswUpqxdb&app=explorer&mime=video/mp4&dur=49.806&lmt=1588607267344839&mt=1588700631&sparams=expire,ei,ip,cp,id,itag,source,requiressl,ttl,susc,driveid,app,mime,dur,lmt&sig=AOq0QJ8wRgIhAIDJ-2IxLMgDNCSdqicQSh0P2ZlUvEki1vhjnghfmfeKAiEAwOTXNDvj7AH9KlUyr-0RFvnA79hokTcNm6vxU6mQnm4=&lsparams=mh,mm,mn,ms,mv,mvi,pl,sc&lsig=AG3C_xAwRQIhALDDy6FGOOvLwO2bwHULCqfeoycnN95Mu6jtjt3EsidNAiBxz5LtF4fWTa7mCkR3X3uzwJrlXNbETIHF5q6uBOhgOw==&cpn=wTkqaXsC23C-k0lY&c=WEB_EMBEDDED_PLAYER&cver=20200502"
												type="video/mp4">
											Your browser does not support HTML5 video.
										</video>
									</div>										
									<p class="c-type-title-sm c-arrow-celine">
										Celien legt je met plezier uit waarom jij MCT zou moeten doen.
										<svg class="c-arrow-celine__arrow" xmlns="http://www.w3.org/2000/svg" width="61.176" height="41.306"
											viewBox="0 0 61.176 41.306">
											<path id="Path_1" data-name="Path 1" d="M715.5,998.743s42.046,2.277,56.5-36.668"
												transform="translate(-713.395 -959.504)" fill="none" stroke="#43c7f5" stroke-linecap="round"
												stroke-width="4" />
										</svg>
									</p>
								</div>
							</div>
							<!-- <h1 class="c-type-meta u-ms-1 u-mb-gamma u-opacity-gamma">
														Welkom bij de MCT-infodag!
													</h1> -->
							
							<!-- <p>
														Welkom bij de MCT-infodag!
													</p> -->
							<!-- <p class="c-type-intro">
														Onze studenten delen hier hun ervaringen met jullie. Ze begeleiden je chronologisch door de opleiding. MCT studeren
														is het realiseren van vernieuwende projecten in real life, dus vertellen onze studenten ook meer over de unieke sfeer
														van de intense projectweken.
													</p> -->
							
						</div>
						
					</div>
					<div class="c-main-section-lg">						
						

						
					<!-- </div>
				</div> -->
			</div>
		</div>
	</div>

	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								1MCT studenten
							</p>
							<p>Intro tekst</p>
							<p class="c-type-intro">
								Filmpjes?
							</p>
							<p class="c-type-intro">
								Foto's?
							</p>
							<p class="c-type-intro">
								Quotes
							</p>
							<p class="c-type-intro">
								Project Wan
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								2MCT studenten
							</p>
							<p>Intro tekst</p>
							<p class="c-type-intro">
								Filmpjes?
							</p>
							<p class="c-type-intro">
								Foto's?
							</p>
							<p class="c-type-intro">
								Quotes
							</p>
							<p class="c-type-intro">
								Project 2
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								WAT WORDT JOUW TOEKOMST?
								Na een stevige IT basis kies je een uitstroomprofiel: Smart Tech & AI Creator, Web App
								Developer, AI Engineer of IoT
								Infrastructure Engineer.
							</p>
							<p>
								Links naar alle uitstroomprofielen Of alle uitstroomprofiele hier nog eens uitleggen?
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								Project 3
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								Stage
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								International
							</p>
							<p class="c-type-intro">
								Filmpjes?
							</p>
							<p class="c-type-intro">
								Foto's?
							</p>
							<p class="c-type-intro">
								Quotes
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="c-row c-row--lg">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="u-max-width-xl">
							<p class="c-type-intro">
								Call to action
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="c-row c-row--lg c-row--divide">
		<div class="o-container">
			<div class="o-grid o-grid--gutter-lg">
				<div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
					<div class="c-main-section-lg">
						<div class="o-container u-max-width-optimal">
							{{ partial "components/faq" . }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{{ end }}
