{{ define "main" }}
<section class="c-row c-row--lg">
	<div class="c-main-section-xl">
		<div class="o-container u-max-width-optimal u-text-center">
			<div class="u-max-width-optimal">
				<p class="c-type-meta u-mb-gamma u-ms-1 u-color-neutral-base">
					Wie zijn de MCT-studenten en waar komen ze vandaan?
				</p>
				<h1 class="c-type-intro u-mb-zeta">
					Wie zijn de MCT-studenten?
				</h1>
				<p>
					“Wat is de beste vooropleiding voor MCT?” is een vraag die we veel horen. De realiteit is dat je vooropleiding er weinig
					toe doet; van TSO elektriciteit tot Wiskunde wetenschappen, van ASO Humane tot een universitaire master, van
					West-Vlaming tot Brabander, de achtergrond van succesvolle MCTers is zeer divers. Falen en terug recht krabbelen, van
					wanhoop tot euforie: lees hier de verrassende verhalen van onze MCT studenten.
				</p>
			</div>
		</div>
	</div>	
	<div class="c-main-section-xl">
		<div class="o-container">
			<div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-baseline u-mb-epsilon-neg">
				{{ range .Site.Taxonomies.categories.wie }}
				<article
					class="o-grid__item u-1-of-2-bp3 u-1-of-3-bp4 u-1-of-4-bp5 o-flex o-flex--align-end u-mb-epsilon">
					{{ partial "atoms/news-article" .}}
				</article>
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}
