{{ define "main" }}
<main>
    <div class="c-row c-row--lg u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
                                {{.Params.Subheader}}
                            </h1>
                            <p class="c-type-intro">
                                {{.Params.Intro | markdownify}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg u-pt-clear u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <h2 class="c-type-svg c-type-svg--programm c-curriculum-title">
                <img class="c-type-svg__svg" src="/img/svg/word-programm.svg" alt="Programma">
            </h2>
            <div class="c-curriculum-overview">
                <div class="c-curriculum-choice js-curriculum-choice">
                    <div class="c-curriculum-choice__box">
                        <div class="c-curriculum-choice__body">
                            <button class="c-curriculum-choice__button js-curriculum-button">
                                <span>Kies je uitstroomprofiel</span>
                                <svg role="img" class="c-symbol c-symbol-keyboard-arrow-down c-curriculum-choice__icon-down">
                                    {{ partial "atoms/symbol" (dict "value" "keyboard-arrow-down" "class" "c-curriculum-choice__icon-down") }}
                                </svg>
                            </button>
                            <ul class="o-list c-curriculum-choices js-curriculum-choices is-hidden">
                                <li class="c-curriculum-choices__item js-curriculum-item" data-slug="smart-xr-developer" data-name="Smart XR Developer"
                                 data-module="10">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        <svg role="img" class="c-symbol c-symbol-check c-curriculum-choices__symbol">
                                            {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }}
                                        </svg> Smart XR Developer
                                    </a>
                                </li>
                                <li class="c-curriculum-choices__item js-curriculum-item" data-slug="next-web-developer" data-name="Next Web Developer"
                                 data-module="9">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        <svg role="img" class="c-symbol c-symbol-check c-curriculum-choices__symbol">
                                            {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }}
                                        </svg> Next Web Developer
                                    </a>
                                </li>
                                <li class="c-curriculum-choices__item js-curriculum-item" data-slug="ai-engineer" data-name="AI Engineer" data-module="14">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        <svg role="img" class="c-symbol c-symbol-check c-curriculum-choices__symbol">
                                            {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }}
                                        </svg> AI Engineer
                                    </a>
                                </li>
                                <li class="c-curriculum-choices__item js-curriculum-item" data-slug="infrastructure-engineer" data-name="IoT Infrastructure Engineer"
                                 data-module="11">
                                    <a href="#!" class="c-curriculum-choices__filter">
                                        <svg role="img" class="c-symbol c-symbol-check c-curriculum-choices__symbol">
                                            {{ partial "atoms/symbol" (dict "value" "check" "class" "c-curriculum-choices__symbol") }}
                                        </svg> IoT Infrastructure Engineer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="c-curriculum">
                    <section class="c-curriculum__year">
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 1
                            </h3>
                            {{ range (where .Site.Pages "Type" "programma") }}
                                {{ if eq .Params.Semester 1 }}
                                    <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                        <h4 class="c-module__title">{{ .Title }}</h4>
                                        <p class="c-module__tags">{{ .Params.Tags }}</p>
                                    </a>
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 2
                            </h3>
                            {{ range (where .Site.Pages "Type" "programma") }}
                                {{ if eq .Params.Semester 2 }}
                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                </a>
                                {{ end }}
                            {{ end }}
                        </div>
                    </section>
                    <section class="c-curriculum__year">
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 3
                            </h3>
                            {{ range (where .Site.Pages "Type" "programma") }}
                                {{ if eq .Params.Semester 3 }}
                                    <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                        <h4 class="c-module__title">{{ .Title }}</h4>
                                        <p class="c-module__tags">{{ .Params.Tags }}</p>
                                    </a>
                                {{ end }}
                            {{ end }}
                        </div>
                        <div class="c-curriculum__semester c-curriculum__semester--choice c-curriculum__semester--choice-4">
                            <h3 class="c-curriculum__semester-title">
                                Semester 4
                            </h3>
                            <div class="c-curriculum__semester-holder--dynamic js-semester-4">
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-smart-xr-developer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "smart-xr-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-next-web-developer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "next-web-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-ai-engineer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "ai-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-infrastructure-engineer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "infrastructure-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__call-to-action js-call-to-action">
                                    <p class="c-type-meta u-ms-2 u-mb-gamma u-opacity-gamma js-loading-message">
                                        Wat is jouw passie?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="c-curriculum__year">
                        <div class="c-curriculum__semester c-curriculum__semester--choice c-curriculum__semester--choice-5">
                            <h3 class="c-curriculum__semester-title">
                                Semester 5
                            </h3>
                            <div class="c-curriculum__semester-holder--dynamic js-semester-5">
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-smart-xr-developer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "smart-xr-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-next-web-developer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "next-web-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-ai-engineer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "ai-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                                <div class="c-curriculum__semester--dynamic js-dynamic-track js-infrastructure-engineer-track">
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "infrastructure-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link js-module-link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        <div class="c-curriculum__semester">
                            <h3 class="c-curriculum__semester-title">
                                Semester 6
                            </h3>
                            {{ range (where .Site.Pages "Type" "programma") }}
                                {{ if eq .Params.Semester 6 }}
                                    <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--single c-module--link js-module-link">
                                        <h4 class="c-module__title">{{ .Title }}</h4>
                                        <p class="c-module__tags">{{ .Params.Tags }}</p>
                                    </a>
                                {{ end }}
                            {{ end }}
                            <!-- <a href="/module/stage-bachelorproef/" class="c-module c-module--project c-module--full c-module--link js-module-link">
                                <h4 class="c-module__title">Stage + Bachelorproef</h4>
                                <p class="c-module__tags">#communicatie #teamwork #entrepreneur #projectmanagement #device #network #ux #embeddedsoftware #front-end
                                #data-management</p>
                            </a> -->
                        </div>
                    </section>
                </div>
                <ul class="o-list c-curriculum-legend">
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-analysis-base"></span>
                        Analysis
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-code-base"></span>
                        Code
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-connect-base"></span>
                        Connect
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-design-base"></span>
                        Design
                    </li>
                    <li class="c-curriculum-legend__item">
                        <span class="c-curriculum-legend__swatch u-bgcolor-project-base"></span>
                        Integrate
                    </li>
                </ul>
            </div>
        </div>
    </div>    
    {{ partial "components/cta.html" (dict "title" "Inschrijven?" "paragraph" "lijkt deze opleiding wat voor jou? kom dan zeker eens langs op een van onze infodagen.") }}
</main>
<dialog class="c-modal js-dialog">
    <!-- <div class="c-modal__body c-modal__body--module c-modal__body--module-connect js-dialog-body">
        <button class="c-modal__close js-dialog-close" aria-label="Close dialog">
            {{ partial "atoms/symbol" (dict "value" "close" "class" "c-nav-main-trigger__symbol")}}
        </button>

        <ul class="o-list c-curriculum-legend">
            <li class="c-curriculum-legend__item">
                <span class="c-curriculum-legend__swatch js-swatch"></span>
                <span class="js-legend"></span>
            </li>
        </ul>
        <h1 class="c-type-intro u-mb-alpha js-title">

        </h1>
        <p class="c-type-meta u-ms-1 u-color-neutral-base js-tags">

        </p>
        <div class="u-max-width-optimal">
            <p class="c-type-intro-small js-description">

            </p>
            <div class="s-content js-content">
            </div>
            <h3 class="u-mb-alpha u-color-alpha-light">
                Tools: <span class="u-color-neutral-base js-tools"></span>
            </h3>
            <p class="u-color-neutral-base">
                {{ .Params.Tools }}
            </p>
        </div>

    </div> -->
</dialog>
{{ end }}
