{{ define "main" }}
<main>
    <div class="c-row c-row--lg">
        <div class="o-container u-max-width-optimal">
            <div class="c-main-section-lg">
                <div class="c-main-section">
                    <p class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
                        Uitstroomprofiel
                    </p>
                    <h1 class="c-type-title-lg">
                        {{ .Title }}
                    </h1>
                </div>
                <div class="c-main-section">
                    <p class="u-ms2">
                        {{.Params.Intro | markdownify}}
                    </p>
                </div>
                {{ if isset .Params "future" }}
                    <aside class="c-main-section">
    					<div class="c-main-section">
    						<h3 class="u-ms1 u-mb-alpha u-color-alpha-light">
    							Jouw toekomst
    						</h3>
    						<p class="u-color-neutral-base">
    							{{ delimit .Params.future ", " " of " }}
    						</p>
    					</div>
                    </aside>
                {{ end }}
                <div class="c-main-section">
                    <div class="s-content">
                        {{ .Content }}
                    </div>
                </div>
                <div class="c-main-section">
                    <h3>
                        Specifieke modules voor {{ .Title }}
                    </h3>
                    <div class="c-curriculum c-curriculum--single">
                        <section class="c-curriculum__profile">
                            <div class="c-curriculum__semester">
                                <h3 class="c-curriculum__semester-title">
                                    Semester 4
    							</h3>
                                {{ if in .Params.Track "ai-engineer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "ai-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if in .Params.Track "smart-xr-developer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "smart-xr-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if in .Params.Track "next-web-developer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "next-web-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if in .Params.Track "infrastructure-engineer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 4 }}
                                            {{ if in .Params.Tracks "infrastructure-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="c-curriculum__semester">
                                <h3 class="c-curriculum__semester-title">
                                    Semester 5
                                </h3>
                                {{ if in .Params.Track "ai-engineer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "ai-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if in .Params.Track "smart-xr-developer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "smart-xr-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if in .Params.Track "next-web-developer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "next-web-developer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                                {{ if in .Params.Track "infrastructure-engineer" }}
                                    {{ range (where .Site.Pages "Type" "programma") }}
                                        {{ if eq .Params.Semester 5 }}
                                            {{ if in .Params.Tracks "infrastructure-engineer" }}
                                                <a href="{{ .Permalink }}" class="c-module c-module--{{ .Params.Pillar }} c-module--link">
                                                    <h4 class="c-module__title">{{ .Title }}</h4>
                                                    <p class="c-module__tags">{{ .Params.Tags }}</p>
                                                </a>
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
			<div class="c-main-section-lg">
				<p>
					<a class="c-link-more" href="{{ ref . "/programma" }}">< Het volledige programma</a>
				</p>
			</div>
        </div>
    </div>
    {{ if in .Params.Track "ai-engineer" }}
    {{ partial "components/cta.html" (dict "title" "Kies jij AI Engineer?" "paragraph" "Stoom je klaar voor de toekomst en schrijf je vandaag in.") }}
    {{ end }}
    {{ if in .Params.Track "smart-xr-developer" }}
    {{ partial "components/cta.html" (dict "title" "Kies jij Smart XR Developer?" "paragraph" "Stoom je klaar voor de toekomst en schrijf je vandaag in.") }}
    {{ end }}
    {{ if in .Params.Track "infrastructure-engineer" }}
    {{ partial "components/cta.html" (dict "title" "Kies jij AI Engineer?" "paragraph" "Stoom je klaar voor de toekomst en schrijf je vandaag in.") }}
    {{ end }}
    {{ if in .Params.Track "next-web-developer" }}
    {{ partial "components/cta.html" (dict "title" "Kies jij Next Web Developer?" "paragraph" "Stoom je klaar voor de toekomst en schrijf je vandaag in.") }}
    {{ end }}
</main>
{{ end }}
