{{ define "main" }}
<main>
    <div class="c-row c-row--lg">
        <div class="o-container">
            <div class="o-grid o-grid--gutter-lg">
                <div class="o-grid__item u-10-of-12-bp5 u-push-1-of-12-bp5">
                    <div class="c-main-section-lg">
                        <div class="u-max-width-xl">
                            <h1 class="c-type-meta u-ms-1 u-mb-gamma u-color-neutral-base">
                                Artificiële intelligentie als afstandsonderwijs
                            </h1>
                            <p class="c-type-intro">
                                Volg het traject Artificiële intelligenie via nederlandstalige video-opnames van goede kwaliteit van het dagonderwijs, en een heleboel practica om op je eigen tempo de leerstof eigen te maken.
                            </p>
                        </div>
                    </div>
                    <div class="c-main-section-lg">
                        <div class="c-video-player">
                            <button class="c-video-play-button">
                                {{ partial "atoms/symbol" (dict "value" "play" "class" "c-video-play-button__symbol")}}
                            </button>
                            <video class="c-video-player__video" poster="/img/jpg/NMCT-shoot1-64.jpg">
                                <source src="/video/nmct-promo.mp4" type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                        </div>
                        <p class="c-type-meta u-ms-1 u-color-neutral-xxxx-dark u-opacity-alpha">
                            Een voorproefje van wat je kan verwachten.
                        </p>
                    </div>
                    <div class="c-main-section-lg">
                        <div class="c-main-section">
                            <div class="s-content u-max-width-lg">
                                <h2 class="c-type-title-lg">
                                    Maak slimmere software dan ooit mogelijk
                                </h2>
                            </div>
                        </div>
                        <div class="c-main-section">
                            <div class="o-grid o-grid--gutter-lg">
                                <div class="o-grid__item u-1-of-2-bp4">
                                    <div class="s-content u-max-width-optimal">
                                        <p>Artificiële intelligentie maakt slimmere software mogelijk dan ooit te voren. <a href="programma/machine-learning">Machine learning</a> laat toe om <strong>voorspellingen te maken</strong> op basis van de huidige data en historische data. Met de juiste data kan je software <strong>het alledaagse leven verbeteren</strong>: voorspel de verkeersdrukte in een stad, voorspel wanneer je naar de dokter moet.</p>
                                        <p><a href="programma/machine-learning">Deep learning</a> gaat nog een stapje verder: het maakt gebruik van diep gelaagde neurale netwerk en <strong>bootst</strong> daarmee<strong> ons brein na</strong>. Een mooi voorbeeld is gezichtsherkenning. Zonder Artificiële intelligenie ben je als developer aangewezen op het werken met beeldverwerkingsfilters die proberen de ogen, neus of mond uit het beeld te halen. Een bril, een hoofd onder de “verkeerde” hoek en je software werkt niet meer accuraat. Deep Learning software is in staat om met een hogere precisie dan een mens objecten, mensen enz. te herkennen.</p>
                                    </div>
                                </div>
                                <div class="o-grid__item u-1-of-2-bp4">
                                    <div class="s-content u-max-width-optimal">
                                        <p>Het goede nieuws is dat je geen wiskundig genie moet zijn om als developer of analyst gebruik te maken van AI. Dankzij krachtige frameworks (zoals Tensorflow) en cloud services (Azure Machine Learning Studio) komt AI binnen het bereik van iedere gemotiveerde ITer.&nbsp; Uit data inzichten puren, voorspellingen doen of <strong>automatisch patronen herkennen en classificeren</strong>, machine learning en deep learning geven een <strong>enorme boost aan je mogelijkheden als ontwikkelaar</strong>.</p>
                                        <p>Het NMCT docenten team en onze research groep Sizing Servers verdiepten zich in Artificiële intelligenie lang voor de hype. <strong>Sinds 2015-2016 werd Artificiële intelligenie reeds in ons dagonderwijs aangeboden</strong> aan onze NMCT IT Bachelors. Met veel plezier bieden we dit traject nu ook aan als afstandsonderwijs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-row c-row--lg c-row--divide u-bgcolor-neutral-xxxx-light">
        <div class="o-container">
            <div class="o-grid o-grid--gutter o-flex o-flex--wrap o-flex--align-center">
                <div class="o-grid__item u-8-of-12-bp4 u-7-of-12-bp5 u-push-1-of-12-bp5 u-2-of-4-bp6 u-push-1-of-4-bp6">
                    <div class="c-main-section">
                        <div class="s-content u-max-width-optimal">
                            <h3>Hoe werkt het?</h3>
                            <p>Deze @home opleiding staat open voor iedereen die minimum 21 jaar is en/of werkstudent. <strong>Je kiest zelf wanneer je wilt studeren</strong> en ons team begeleidt jou via het internet. Er zijn ook enkele contactmomenten op de campus voorzien.</p>
                            <p>Afstandsonderwijs wordt hoofdzakelijk via ons krachtige LMS (Learning management system) gegeven. Je krijgt <strong>nederlandstalige video-opnames</strong> van goede kwaliteit van het dagonderwijs, en een heleboel practica om&nbsp;<strong>op je eigen tempo</strong>&nbsp;de leerstof eigen te maken.</p>
                            <p>De opleiding is gespreid over <strong>2 semesters (1 jaar)</strong> om werk en studie te kunnen combineren. Je examens vinden plaats in <strong>Graaf Karel De Goedelaan 5, 8500 Kortrijk</strong>.</p>
                        </div>
                    </div>
                    <div class="c-main-section">
                        <div class="c-curriculum u-pt-alpha">
                            <div class="c-curriculum__semester u-pt-alpha">
                                <h3 class="c-curriculum__semester-title">
                                    Oktober 2018
                                </h3>
                                <a href="machine-learning" class="c-module c-module--analysis c-module--link">
                                    <h4 class="c-module__title">Machine Learning</h4>
                                    <p class="c-module__tags">6 studiepunten</p>
                                </a>
                            </div>
                            <div class="c-curriculum__semester u-pt-alpha">
                                <h3 class="c-curriculum__semester-title">
                                    Q1 2019
                                </h3>
                                <a href="machine-learning" class="c-module c-module--analysis c-module--link">
                                    <h4 class="c-module__title">Deep Learning</h4>
                                    <p class="c-module__tags">6 studiepunten</p>
                                </a>
                            </div>
                        </div>
                        <p class="u-ms-1 u-color-neutral-base">Een (N)MCT student die reeds voor machine learning is geslaagd krijgt vrijstelling voor deze module.</p>
                    </div>
                    <div class="c-main-section">
                        <div class="s-content u-max-width-optimal">
                            <h3>Voorwaarde</h3>
                            <p>De student kent de <strong>programmeertaal Python</strong> voldoende om zelf programma’s te schrijven of te interpreteren.</p>
                            <h3>Kostprijs</h3>
                            <p>
                                Een niet-beursstudent betaalt <strong>368,5 Euro</strong> <br>
                                Beursstudenten informeren best bij het studentensecretariaat: 056 24 12 25
                            </p>
                            <h3>Vragen?</h3>
                            <p>Contacteer <a href="https://www.nmct.be/contact/">Johan De Gelas</a> of kom langs tijdens één van onze infodagen op onze campus in Kortrijk.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "components/cta.html" (dict "title" "Klaar om IT expert te worden?" "paragraph" "Leer zelf de technieken waar de topbedrijven mee bezig zijn") }}
</main>
{{ end }}
