<!DOCTYPE html>
<!-- class="has-modal" -->
<html>

{{ partial "generic/head" . }}

<body>

    <!-- Page top -->
    {{ partial "components/top" . }}
    <!-- End page header -->

    <!-- Page header -->
    {{ partial "components/header" . }}
    <!-- End page header -->

    {{ block "main" .}}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <!-- Mobile Nav -->
    {{ partial "components/nav-mobile" . }}
    <!-- End page footer -->

    <!-- Page footer -->
    {{ partial "components/footer" . }}
    <!-- End page footer -->

    <!-- Cookie message -->
	  {{ partial "components/cookie-message" . }}
    <!-- End cookie message -->

    <dialog class="c-modal js-dialog">
      <div class="c-modal__body c-modal__body--video js-dialog-body">
        <button class="c-modal__close js-dialog-close" aria-label="Close dialog">
          {{ partial "atoms/symbol" (dict "value" "close" "class" "c-nav-main-trigger__symbol")}}
        </button>
        <div class="embed-container js-embed-container">
          <iframe src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </dialog>

    {{ partial "generic/javascript" . }}

</body>
</html>
